﻿<div>
    <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal"
          name="userInfoForm" #f="ngForm" novalidate (ngSubmit)="saveBank() ">


        <div class="form-group">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label"
                   for="bankName-{{uniqueId}}">{{'bank.management.BankName' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{bank.bankName}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input autofocus type="text" attr.id="bankName-{{uniqueId}}" id="bankName" name="bankName" placeholder="Enter Bank Name"
                       class="form-control" [(ngModel)]="bankEdit.bankName" #bankName="ngModel" required />
            </div>
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label"
                   for="bankName-{{uniqueId}}">Bank Code</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{bank.bankCode}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input autofocus type="text" attr.id="bankCode-{{uniqueId}}" id="bankCode" name="bankCode" placeholder="Enter Bank Code"
                       class="form-control" [(ngModel)]="bankEdit.bankCode" #bankCode="ngModel" required />
            </div>

        </div>




        <div class="form-group has-feedback">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="contactPerson1-{{uniqueId}}">{{'bank.management.contactPerson1' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{bank.contactPerson1}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="text" attr.id="contactPerson1-{{uniqueId}}" id="contactPerson1" name="contactPerson1" placeholder="Enter Contact Person"
                       class="form-control" [(ngModel)]="bankEdit.contactPerson1" #contactPerson1="ngModel" required />

            </div>
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="contactNo1-{{uniqueId}}">{{'bank.management.contactNo1' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{bank.contactNo1}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="number" attr.id="contactNo1-{{uniqueId}}" id="contactNo1" name="contactNo1" placeholder="Enter Contact No"
                       class="form-control" [(ngModel)]="bankEdit.contactNo1" #contactNo1="ngModel" required />

            </div>
        </div>




        <div class="form-group has-feedback">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="contactPerson2-{{uniqueId}}">{{'bank.management.contactPerson2' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{bank.contactPerson2}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="text" attr.id="contactPerson2-{{uniqueId}}" id="contactPerson2" name="contactPerson2" placeholder="Enter Contact Person"
                       class="form-control" [(ngModel)]="bankEdit.contactPerson2" #contactPerson2="ngModel" required />

            </div>
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="contactNo2-{{uniqueId}}">{{'bank.management.contactNo2' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{bank.contactNo2}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="number" attr.id="contactNo2-{{uniqueId}}" id="contactNo2" name="contactNo2" placeholder="Enter Contact No"
                       class="form-control" [(ngModel)]="bankEdit.contactNo2" #contactNo2="ngModel" required />

            </div>
        </div>
        <div class="form-group has-feedback">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="address-{{uniqueId}}">{{'bank.management.Address' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <p class="form-control-static">{{bank.address}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <textarea type="text" attr.id="address-{{uniqueId}}" id="address" name="address" placeholder="Enter Address" class="form-control" [(ngModel)]="bankEdit.address" #address="ngModel" required></textarea>

            </div>
         </div>
            <div class="form-group has-feedback">
                <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label">Status</label>
                <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                    <mat-form-field>

                        <mat-select placeholder="Pick Status" [(ngModel)]="bankEdit.status" name="status" class="dropvalid">
                            <mat-option *ngFor="let status of statuses" [value]="status.text" class="drop">
                                <strong>  {{ status.text }} </strong>
                            </mat-option>
                        </mat-select>

                    </mat-form-field>

                </div>
            </div>


            <div *ngIf="!isViewOnly" class="row">
                <div class="col-md-12">
                    <hr [class.last-separator-hr]="!isEditMode" [class.edit-last-separator-hr]="isEditMode" />
                </div>
            </div>


            <div *ngIf="!isViewOnly" class="form-group">
                <div class="col-sm-7">
                    <div class="pull-right">
                        <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default">
                            <i class='fa fa-close'></i> {{'users.editor.Close' | translate}}
                        </button>

                        <button *ngIf="isEditMode" type="button" (click)="close()" class="btn btn-danger" [disabled]="isSaving">
                            <i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}
                        </button>

                        <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving" style="margin-left:5px">
                            <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>
                            {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
    </form>
</div>
