﻿<div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12">
        <div class="row control-box">

            <mat-toolbar style=" background-color: rgb(128,0,0);color:white">
                <h4 style="text-align:center">POS Spares</h4>
            </mat-toolbar>
            <div class="col-sm-8">
                <div class="form-group search-box"style="margin-top:5px;margin-bottom:5px">
                    <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'posSpares.management.Search' | translate}}">></search-box>
                </div>
            </div>
            <div class="col-sm-4 pull-right" style="margin-top:5px;margin-bottom:5px" *ngIf="canCreateUsers">

                <mat-chip-list>
                    <mat-chip style="background-color:green" selected="true">
                        <a href="javascript:;" (click)="newInventory(row)" style="color:white;text-decoration: none !important">
                            <span>Add New Pos Spares</span>
                        </a>
                    </mat-chip>
                </mat-chip-list>
            </div>
         
        </div>



        <ngx-datatable class="material colored-

                       er sm table table-striped table-hover"
                       [loadingIndicator]="loadingIndicator"
                       [rows]="rows"
                       [rowHeight]="35"
                       [headerHeight]="35"
                       [footerHeight]="35"
                       [columns]="columns"
                       [scrollbarV]="true"
                       [columnMode]="'force'"
                       [selectionType]="checkbox">
        </ngx-datatable>

        <ng-template #indexTemplate let-value="value">
            <strong>{{value}}</strong>
        </ng-template>

        <ng-template #primaryItemTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.primaryItem}}</span>
        </ng-template>
        <ng-template #secondaryItemTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.secondaryItem}}</span>
        </ng-template>
        <ng-template #tertiaryItemTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.tertiaryItem}}</span>
        </ng-template>
        <ng-template #detailItemTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.detailItem}}</span>
        </ng-template>
        <ng-template #hasSerialNoTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.hasSerialNo}}</span>
        </ng-template>
        <!--<ng-template #totalNoTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.totalNumber}}</span>
        </ng-template>-->
        <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
            <div>
                <a class="btn btn-link btn-xs" href="javascript:;" (click)="editInventory(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'inventory.management.Edit' | translate}}</a>
                |
                <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteInventory(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'inventory.management.Delete' | translate}}</a>
            </div>
        </ng-template>




        <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()"  tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">

                        <mat-toolbar style=" background-color: rgb(128,0,0);color:white" class="pop">
                            <h4 style="text-align:center">New POS Spares</h4>
                            <button type="button" class="close col-md-offset-9" title="Close" (click)="editorModal.hide()" style="color:white;font-size:30px">
                                <span aria-hidden="true" class="col-md-1">&times;</span>
                            </button>
                        </mat-toolbar>
                    </div>
                    <div class="modal-body">
                        <posSpares-edit #inventoryEditor [isGeneralEditor]="true"></posSpares-edit>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
