﻿<div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12">
        <div>
            <div class="row control-box" style="margin-top:20px">
                <mat-toolbar style="background-color: rgb(128,0,0) !important;color:white">
                    <h4 style="text-align:center">Pos Not Received List</h4>
                </mat-toolbar>
                <!--<h4 style="text-align:center">Deploy List</h4>
        <hr class="separator-hr" />-->
                <div class="col-sm-12" style="margin-top:15px">
                    <div class="form-group search-box col-sm-6">
                        <search-box (searchChange)="onSearchChanged($event)" placeholder="Search For Pos Not Received">></search-box>
                    </div>
                    <label style="background-color:#027FF4;color:white;" class="col-sm-offset-2">
                        <button class="btn btn-primary" (click)="onBtExport()">Export to Excel</button>
                    </label>
                    <button class="btn btn-primary col-sm-offset-1" value="CLEAR" (click)="loadData()">Reset</button>
                </div>

            </div>

            <ag-grid-angular style=" height: 500px;"
                             id="myGrid"
                             class="ag-theme-balham"
                             [enableSorting]="true"
                             [enableFilter]="true"
                             [rowData]="rows"
                             [pagination]="true"
                             [rowSelection]="multiple"
                             [columnDefs]="columnDefs"
                             (gridReady)="onGridReady($event)"
                             (rowClicked)="onRowClicked($event)">
 

            </ag-grid-angular>



            <div class="modal fade" bsModal #statusModal="bs-modal" (onHidden)="onStatusModalHidden()" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <mat-toolbar style="background-color: rgb(128,0,0) !important;color:white" class="pop">
                                <h4 style="text-align:center"> Add Status</h4>
                                <button type="button" class="close col-md-offset-9" title="Close" (click)="statusModal.hide()" style="color:white;font-size:30px">
                                    <span aria-hidden="true" class="col-md-1">&times;</span>
                                </button>
                            </mat-toolbar>

                        </div>
                        <div class="modal-body">
                            <not-received-add-status #statusEditor [isGeneralEditor]="true"></not-received-add-status>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" bsModal #maintenanceStatusModal="bs-modal" (onHidden)="onMaintenanceStatusModalHidden()" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <mat-toolbar style="background-color: rgb(128,0,0) !important;color:white" class="pop">
                                <h4 style="text-align:center"> Add Status</h4>
                                <button type="button" class="close col-md-offset-9" title="Close" (click)="maintenanceStatusModal.hide()" style="color:white;font-size:30px">
                                    <span aria-hidden="true" class="col-md-1">&times;</span>
                                </button>
                            </mat-toolbar>

                        </div>
                        <div class="modal-body">
                            <maintenance-add-status #maintenanceStatusEditor [isGeneralEditor]="true"></maintenance-add-status>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>