﻿<div class="container" style="display:flex;align-items: stretch;margin-top:20px">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12">
        <div class="row control-box">
            <mat-toolbar class="col-sm-12" style=" background-color: rgb(128,0,0);color:white">
                <h4 style="text-align:center">Pos Spares History</h4>
            </mat-toolbar>
            <div class="col-sm-12" style="margin-top:40px;margin-left:20px">
                <div class="form-group search-box col-sm-6">
                    <search-box (searchChange)="onSearchChanged($event)" placeholder="Search for old records"></search-box>
                </div>
                <label style="background-color:#027FF4;color:white;" class="col-sm-offset-2">
                    <button class="btn btn-primary" (click)="onBtExport()">Export to Excel</button>
                </label>
                <button class="btn btn-primary col-sm-offset-1" value="CLEAR" (click)="loadPosRecordsData()">Reset</button>
            </div>
            
        </div>

        <div class="col-sm-12">
            <ag-grid-angular style=" height: 470px;"
                             #agGrid
                             id="myGrid"
                             class="ag-theme-balham"
                             [enableSorting]="true"
                             [enableFilter]="true"
                             [rowData]="rows"
                             [pagination]="true"
                             [rowSelection]="multiple"
                             [columnDefs]="columnDefs"
                            (rowClicked)="onRowClicked($event)">
            </ag-grid-angular>


            
        </div>

    </div>
    </div>
