﻿<div class="container" style="display:flex;align-items: stretch;">
   
    <div id="content" class="col-sm-12">
        <div class="row control-box">
            <h4 style="text-align:center">Previous Support</h4>
            <div class="col-sm-8">
                <div class="form-group search-box">
                    <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'support.management.Search' | translate}}">></search-box>
                </div>
            </div>
           
        </div>

      

        <ag-grid-angular style="width: 850px; height: 500px;"
                         #agGrid
                         id="myGrid"
                         class="ag-theme-balham"
                         [enableSorting]="true"
                         [enableFilter]="true"
                         [rowData]="rows"
                         [pagination]="true"
                         rowSelection="multiple"
                         [columnDefs]="columnDefs"
                         (rowClicked)="onRowClicked($event)">
        </ag-grid-angular>


        <!--<div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left"><i class="fa fa-user-circle-o"></i> {{editingSupportName ? ('support.management.EditSupport' | translate:editingSupportName) : ('support.management.NewSupport' | translate)}}</h4>
                        <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <support-edit #supportEditor [isGeneralEditor]="true"></support-edit>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    </div>
