﻿<div>
    <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="userInfoForm" #f="ngForm" novalidate
          (ngSubmit)="saveHardwareSupport()">

        <!--Bank name in DropDown & purchase Date-->
        <div class="form-group">
            <div>
                <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="tertiaryItem-{{uniqueId}}">Bank Name</label>
                <mat-form-field class="col-sm-4">

                    <mat-select placeholder="Pick Bank" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly" [(ngModel)]="hardwareSupportEdit.bankId" name="bankId" [formControl]="bankControl" class="dropvalid">
                        <mat-option *ngFor="let bank of rows" [value]="bank.id" class="drop">
                            <span>  {{ bank.bankName }} </span>
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="bankControl.hasError('required')">Please choose Bank</mat-error>
                </mat-form-field>
            </div>
            <div>
                <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="purchaseDate-{{uniqueId}}">{{'hardwareSupport.management.PurchaseDate' | translate}}</label>
                <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                    <p class="form-control-static">{{hardwareSupport.purchaseDate}}</p>
                </div>
                <div *ngIf="isEditMode" [class.col-md-2]="isViewOnly" [class.col-md-4]="!isViewOnly">
                    <input type="date" attr.id="purchaseDate-{{uniqueId}}" id="purchaseDate" name="purchaseDate" placeholder="Enter Purchase Date"
                           class="form-control" [(ngModel)]="hardwareSupportEdit.purchaseDate" #purchaseDate="ngModel" required />

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
            </div>
        </div>
        <!--primary & Secondary Item-->
        <div class="form-group has-feedback">
            <div>
                <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label"
                       for="primaryItem-{{uniqueId}}">{{'hardwareSupport.management.PrimaryItem' | translate}}</label>
                <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                    <p class="form-control-static">{{hardwareSupport.primaryItem}}</p>
                </div>
                <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                    <input type="text" attr.id="primaryItem-{{uniqueId}}" id="primaryItem" name="primaryItem" placeholder="Enter Main Item"
                           class="form-control" [(ngModel)]="hardwareSupportEdit.primaryItem" #primaryItem="ngModel" required />

                </div>
            </div>
            <div>
                <!--Secondary Item-->
                
                    <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="secondaryItem-{{uniqueId}}">{{'hardwareSupport.management.SecondaryItem' | translate}}</label>
                    <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                        <p class="form-control-static">{{hardwareSupport.secondaryItem}}</p>
                    </div>
                    <div *ngIf="isEditMode" [class.col-md-2]="isViewOnly" [class.col-md-4]="!isViewOnly">
                        <input type="text" attr.id="secondaryItem-{{uniqueId}}" id="secondaryItem" name="secondaryItem" placeholder="Enter Sub-Item"
                               class="form-control" [(ngModel)]="hardwareSupportEdit.secondaryItem" #secondaryItem="ngModel" required />

                    </div>
              
            </div>
        </div>



        <div class="row">
            <div class="col-md-12">
                <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
            </div>
        </div>



        <!--Teritary & Detail Item-->
        <div class="form-group has-feedback">
            <div>
                <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="tertiaryItem-{{uniqueId}}">{{'hardwareSupport.management.TertiaryItem' | translate}}</label>
                <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                    <p class="form-control-static">{{hardwareSupport.tertiaryItem}}</p>
                </div>
                <div *ngIf="isEditMode" [class.col-md-2]="isViewOnly" [class.col-md-4]="!isViewOnly">
                    <input type="text" attr.id="tertiaryItem-{{uniqueId}}" id="tertiaryItem" name="tertiaryItem" placeholder="Enter Third Item" class="form-control" [(ngModel)]="hardwareSupportEdit.tertiaryItem" #tertiaryItem="ngModel" required />

                </div>
            </div>
            <div>
                <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="detailItem-{{uniqueId}}">{{'hardwareSupport.management.DetailItem' | translate}}</label>
                <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                    <p class="form-control-static">{{hardwareSupport.detailItem}}</p>
                </div>
                <div *ngIf="isEditMode" [class.col-md-2]="isViewOnly" [class.col-md-4]="!isViewOnly">
                    <input type="text" attr.id="detailItem-{{uniqueId}}" id="detailItem" name="detailItem" placeholder="Enter Detail Item" class="form-control" [(ngModel)]="hardwareSupportEdit.detailItem" #detailItem="ngModel" required />

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
            </div>
        </div>


        <!--Manufacturer & Serial No-->
        <div class="form-group has-feedback">

            <div>
                <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="serialNo-{{uniqueId}}">{{'hardwareSupport.management.SerialNo' | translate}}</label>
                <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                    <p class="form-control-static">{{hardwareSupport.serialNo}}</p>
                </div>
                <div *ngIf="isEditMode" [class.col-md-2]="isViewOnly" [class.col-md-4]="!isViewOnly">
                    <input type="text" attr.id="serialNo-{{uniqueId}}" id="serialNo" name="serialNo" placeholder="Enter Serial No"
                           class="form-control" [(ngModel)]="hardwareSupportEdit.serialNo" #serialNo="ngModel" required />

                </div>
            </div>

            <div>
                <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label"
                       for="contactPerson-{{uniqueId}}">{{'hardwareSupport.management.Manufacturer' | translate}}</label>
                <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                    <p class="form-control-static">{{hardwareSupport.manufacturer}}</p>
                </div>
                <div *ngIf="isEditMode" [class.col-md-2]="isViewOnly" [class.col-md-4]="!isViewOnly">
                    <input type="text" attr.id="contactPerson-{{uniqueId}}" id="manufacturer" name="manufacturer" placeholder="Enter Manufacturer"
                           class="form-control" [(ngModel)]="hardwareSupportEdit.manufacturer" #manufacturer="ngModel" required />

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
            </div>
        </div>


        <!--ContactPerson & ContactNo-->
        <div class="form-group has-feedback">
            <div>
                <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="secondaryItem-{{uniqueId}}">{{'hardwareSupport.management.ContactPerson' | translate}}</label>
                <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                    <p class="form-control-static">{{hardwareSupport.contactPerson}}</p>
                </div>
                <div *ngIf="isEditMode" [class.col-md-2]="isViewOnly" [class.col-md-4]="!isViewOnly">
                    <input type="text" attr.id="contactPerson-{{uniqueId}}" id="contactPerson" name="contactPerson" placeholder="Enter Contact Person"
                           class="form-control" [(ngModel)]="hardwareSupportEdit.contactPerson" #contactPerson="ngModel" required />

                </div>
            </div>
            <div>
                <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="contactNo-{{uniqueId}}">{{'hardwareSupport.management.ContactNo' | translate}}</label>
                <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                    <p class="form-control-static">{{hardwareSupport.contactNo}}</p>
                </div>
                <div *ngIf="isEditMode" [class.col-md-2]="isViewOnly" [class.col-md-4]="!isViewOnly">
                    <input type="text" attr.id="contactNo-{{uniqueId}}" id="contactNo" name="contactNo" placeholder="Enter Contact No"
                           class="form-control" [(ngModel)]="hardwareSupportEdit.contactNo" #contactNo="ngModel" required />

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
            </div>
        </div>



        <div *ngIf="!isViewOnly" class="form-group">
            <div class="col-sm-7">
                <div class="pull-right">
                    <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default">
                        <i class='fa fa-close'></i> {{'users.editor.Close' | translate}}
                    </button>
                    <!--<button *ngIf="isEditMode " type="button" (click)="edit()" class="btn btn-default"><i class='fa fa-edit'></i>
                {{'users.editor.Edit' | translate}}</button>-->
                    <button *ngIf="isEditMode" type="button" (click)="close()" class="btn btn-danger" [disabled]="isSaving">
                        <i class='fa fa-times'></i>
                        {{'users.editor.Cancel' | translate}}
                    </button>

                    <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving" style="margin-left:15px;">
                        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>
                        {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
