﻿    <div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12">
        <div [hidden]="edited">
            <div class="row control-box">
                <mat-toolbar style=" background-color: rgb(128,0,0);color:white;margin-bottom:15px">
                    <h4 style="text-align:center">Pos Master</h4>
                </mat-toolbar>


                <div class="col-sm-2  col-sm-offset-3">
                    <div class="navbar action-box">

                        <mat-chip-list>
                            <mat-chip style="background-color:green" selected="true">
                                <a href="javascript:;" (click)="newDeployment()" style="color:white;text-decoration: none !important">
                                    <span>{{'deployment.management.NewDeployment' | translate}}</span>
                                </a>
                            </mat-chip>
                        </mat-chip-list>

                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="navbar action-box">
                        <mat-chip-list>
                            <mat-chip style="background-color:orange" selected="true">
                                <a href="javascript:;" (click)="reconfigure()" style="color:white;text-decoration: none !important">
                                    <span>{{'deployment.management.Reconfigure' | translate}}</span>
                                </a>
                            </mat-chip>
                        </mat-chip-list>


                    </div>
                </div>
                <!--<div class="col-sm-4">
                <div class="navbar action-box">
                    <mat-chip-list>
                        <mat-chip style="background-color:orange" selected="true">
                            <a href="javascript:;" (click)="reconfigurePartialRental()" style="color:white;text-decoration: none !important">
                                <span>Partial Rental</span>
                            </a>
                        </mat-chip>
                    </mat-chip-list>


                </div>
            </div>-->
                <div class="col-sm-2">
                    <div class="navbar action-box">
                        <mat-chip-list>
                            <mat-chip style="background-color:red">
                                <a href="javascript:;" (click)="retrieve()" style="color:white;text-decoration: none !important">
                                    <span>Retrieve</span>
                                </a>
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>

                <br /><br /><br />
                <div class="col-sm-12" style="margin-left:15px">
                    <div class="form-group search-box col-sm-6">
                        <search-box (searchChange)="onSearchChanged($event)" placeholder="Search for Deployment Request">></search-box>
                    </div>
                    <label style=" background-color:#027FF4;color:white" class="col-sm-offset-3">
                        <button class="btn btn-primary" (click)="onBtExport()">Export to Excel</button>
                    </label>
                    <button class="btn btn-primary" value="CLEAR" (click)="loadDeploymentData()" style="margin-left:20px">Reset</button>
                </div>


            </div>
            <div class="col-sm-12">
                <ag-grid-angular style=" height: 450px;"
                                 #agGrid
                                 id="myGrid"
                                 class="ag-theme-balham"
                                 [enableSorting]="true"
                                 [enableFilter]="true"
                                 [pagination]="true"
                                 [rowData]="rows"
                                 [rowSelection]="multiple"
                                 [columnDefs]="columnDefs"
                                 (gridReady)="onGridReady($event)"
                                 (rowClicked)="onRowClicked($event)">
                </ag-grid-angular>
            </div>


            <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    nt
                    <div class="modal-content">
                        <div class="modal-header">
                            <mat-toolbar style=" background-color: rgb(128,0,0);color:white" class="pop">


                                <h4 style="text-align:center"> {{editingDeploymentName ? ('deployment.management.EditDeployment' | translate:editingDeploymentName) : ('deployment.management.NewDeployment' | translate)}}</h4>
                                <button type="button" class="close col-md-offset-9" title="Close" (click)="editorModal.hide()" style="color:white;font-size:30px">
                                    <span aria-hidden="true" class="col-md-1">&times;</span>
                                </button>
                            </mat-toolbar>
                            <!--<h4 class="modal-title pull-left"><i class="fa fa-user-circle-o"></i> {{'deployment.management.NewDeployment' | translate}}</h4>-->

                        </div>
                        <div class="modal-body">
                            <deployment-add #deploymentEditor [isGeneralEditor]="true"></deployment-add>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" bsModal #configModal="bs-modal" (onHidden)="onConfigModalHidden()" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">

                            <mat-toolbar style=" background-color: rgb(128,0,0);color:white" class="pop">

                                <h4 style="text-align:center">{{editingConfigurationName ? ('configuration.management.EditConfiguration' | translate:editingConfigurationName) : ('configuration.management.NewConfiguration' | translate)}}</h4>
                                <button type="button" class="close col-md-offset-9" title="Close" (click)="configModal.hide()" style="color:white;font-size:30px">
                                    <!--<span aria-hidden="true" class="col-md-1">&times;</span>-->
                                </button>
                            </mat-toolbar>
                        </div>
                        <div class="modal-body">

                            <div class=" col-sm-11 col-sm-offset-1">
                                <label class="control-label col-md-2" for="bankName-{{uniqueId}}">Bank Name</label>
                                <div [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                    <p>{{posHistory.bankName}}</p>
                                </div>
                                <label class="control-label col-md-2" for="merchant-{{uniqueId}}">Merchant</label>
                                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                    <p>{{posHistory.merchant}}</p>
                                </div>
                            </div>
                            <div class="col-sm-11 col-sm-offset-1">
                                <label class="control-label col-md-2" for="idMerchant-{{uniqueId}}">Merchant Id</label>
                                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                    <p>{{posHistory.idMerchant}}</p>
                                </div>
                                <label class="control-label col-md-2" for="idTerminal-{{uniqueId}}">Terminal Id</label>
                                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                    <p>{{posHistory.idTerminal}}</p>
                                </div>
                            </div>
                            <div class="col-sm-11 col-sm-offset-1">
                                <label class="control-label col-md-2" for="bankName-{{uniqueId}}">Terminal Type</label>
                                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                    <p>{{posHistory.item}}</p>
                                </div>
                                <label class="control-label col-md-2" for="merchant-{{uniqueId}}">Serial Number</label>
                                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                    <p>{{posHistory.serialNumber}}</p>
                                </div>
                            </div>
                            <div class=" col-sm-11 col-sm-offset-1">

                                <label class="control-label col-md-2" for="contactPerson-{{uniqueId}}">Contact Per.</label>
                                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                    <p>{{posHistory.contactPerson}}</p>
                                </div>
                                <label class="control-label col-md-2" for="contactNumber-{{uniqueId}}">Contact No.</label>
                                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                    <p>{{posHistory.contactNo1}}</p>
                                </div>
                            </div>
                            <div class=" col-sm-11 col-sm-offset-1">

                                <label class="control-label col-md-2" for="address-{{uniqueId}}">Address</label>
                                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                                    <p>{{posHistory.address}}</p>
                                </div>
                            </div>

                            <configuration-edit #configurationEditor [isGeneralEditor]="true"></configuration-edit>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="modal fade" bsModal #deployModal="bs-modal" (onHidden)="onDeployModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left"><i class="fa fa-user-circle-o"></i> Deploy</h4>
                        <button type="button" class="close pull-right" title="Close" (click)="deployModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <deploy-edit #deployEditor [isGeneralEditor]="true"></deploy-edit>
                    </div>
                </div>
            </div>
        </div>-->
            <div class="modal fade" bsModal #reconfigureModal="bs-modal" (onHidden)="onreconfigureModalHidden()">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <mat-toolbar style=" background-color: rgb(128,0,0);color:white" class="pop">
                                <h4 style="text-align:center"> Re-Configure</h4>
                                <button type="button" class="close col-md-offset-10" title="Close" (click)="reconfigureModal.hide()" style="color:white;font-size:30px">
                                    <span aria-hidden="true" class="col-md-1">&times;</span>
                                </button>
                            </mat-toolbar>

                        </div>
                        <div class="modal-body">
                            <div>
                                <div class="row control-box">
                                    <div class="col-sm-8">
                                        <div class="form-group search-box">
                                            <search-box (searchChange)="onSearchChanged1($event)" placeholder="Search for Reconfigure"></search-box>
                                        </div>
                                    </div>
                                </div>
                                <ag-grid-angular style=" height: 500px;"
                                                 #agGrid
                                                 id="myGrid"
                                                 class="ag-theme-balham"
                                                 [enableSorting]="true"
                                                 [enableFilter]="true"
                                                 [rowData]="rowsHistory"
                                                 [pagination]="true"
                                                 [rowSelection]="multiple"
                                                 [columnDefs]="columnDefs1"
                                                 (rowClicked)="onRowSelectReconfigure($event)">
                                </ag-grid-angular>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="modal fade" bsModal #reconfigurePartialRentalModal="bs-modal" (onHidden)="onPartialRentalModalHidden()" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <mat-toolbar style=" background-color: rgb(128,0,0);color:white" class="pop">
                        <h4 style="text-align:center"> ReConfigure Partial Rental</h4>
                        <button type="button" class="close col-md-offset-10" title="Close" (click)="reconfigurePartialRentalModal.hide()" style="color:white;font-size:30px">

                        </button>
                    </mat-toolbar>

                </div>
                <div class="modal-body">
                    <div>
                        <div class="row control-box">
                            <div class="col-sm-8">
                                <div class="form-group search-box">
                                    <search-box (searchChange)="onSearchChanged3($event)" placeholder="Search for Partial Rental"></search-box>
                                </div>
                            </div>
                        </div>
                        <ag-grid-angular style=" height: 500px;"
                                         #agGrid
                                         id="myGrid"
                                         class="ag-theme-balham"
                                         [enableSorting]="true"
                                         [enableFilter]="true"
                                         [rowData]="rowsPartialRental"
                                         [pagination]="true"
                                         [rowSelection]="multiple"
                                         [columnDefs]="columnDefs3"
                                         (rowClicked)="onRowSelectReconfigurePartial($event)">
                        </ag-grid-angular>

                    </div>
                </div>
            </div>
        </div>
    </div>-->
        <div class="modal fade" bsModal #retrieveModal="bs-modal" (onHidden)="onretrieveModalHidden()" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <mat-toolbar style=" background-color: rgb(128,0,0);color:white" class="pop">
                            <h4 style="text-align:center"> Retrieve</h4>
                            <button type="button" class="close col-md-offset-10" title="Close" (click)="retrieveModal.hide()" style="color:white;font-size:30px">
                                <span aria-hidden="true" class="col-md-1">&times;</span>
                            </button>
                        </mat-toolbar>

                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="row control-box">
                                <div class="col-sm-8">
                                    <div class="form-group search-box">
                                        <search-box (searchChange)="onSearchChanged2($event)" placeholder="Search for Retrieve"></search-box>
                                    </div>
                                </div>
                            </div>
                            <ag-grid-angular style=" height: 500px;"
                                             #agGrid
                                             id="myGrid"
                                             class="ag-theme-balham"
                                             [enableSorting]="true"
                                             [enableFilter]="true"
                                             [rowData]="rowsHistory1"
                                             [pagination]="true"
                                             [rowSelection]="multiple"
                                             [columnDefs]="columnDefs2"
                                             (rowClicked)="onRowSelectRetrieve($event)">
                            </ag-grid-angular>


                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" bsModal #addStatusModal="bs-modal" (onHidden)="onAddStatusModalHidden()" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <mat-toolbar style=" background-color: rgb(128,0,0);color:white" class="pop">
                            <h4 style="text-align:center"> Add Status</h4>
                            <button type="button" class="close col-md-offset-10" title="Close" (click)="addStatusModal.hide()" style="color:white;font-size:30px">
                                <span aria-hidden="true" class="col-md-1">&times;</span>
                            </button>
                        </mat-toolbar>

                    </div>
                    <div class="modal-body">
                        <deployment-add-status #addStatusEditor [isGeneralEditor]="true"></deployment-add-status>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" bsModal #maintenanceStatusModal="bs-modal" (onHidden)="onMaintenanceStatusModalHidden()" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <mat-toolbar style="background-color: rgb(128,0,0) !important;color:white" class="pop">
                            <h4 style="text-align:center"> Add Status</h4>
                            <button type="button" class="close col-md-offset-9" title="Close" (click)="maintenanceStatusModal.hide()" style="color:white;font-size:30px">
                                <span aria-hidden="true" class="col-md-1">&times;</span>
                            </button>
                        </mat-toolbar>

                    </div>
                    <div class="modal-body">
                        <maintenance-status #maintenanceStatusEditor [isGeneralEditor]="true"></maintenance-status>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>