﻿@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');


.user-role {
    font-size: 0.8em !important;
    margin-right: 1px;
}

.control-box {
    margin-bottom: 5px;
}

.search-box {
    margin: 0;
}

.action-box {
    margin: 0 50px 0 0;
    min-height: 0;
}
.nohover a:hover {
    background-color: white;
}
    .action-box .toolbaritem a {
        padding-top: 5px;
        padding-bottom: 5px;
        min-width: 100px;
    }


.user-disabled {
    color: #777;
    font-style: italic;
}


.locked-out {
    background-color: orangered;
    color: whitesmoke;
    width: 100%;
    display: inline-block;
    padding-left: 5px;
}


@media (max-width: 768px) {
    .action-box {
        margin: 0 14px;
    }
}
#content {
    padding: 30px;
    min-height: 100vh;
    transition: all 0.3s;
}
/*.drop {
    background-color: lightblue !important;
    color: black !important;
}

    .drop:focus, .drop:hover {
        background-color: #027FF4 !important;
        color: white !important;
    }*/


/*.mat-option.mat-active {
    background-color: red !important;
    color: white !important;
}*/
/*.ng-invalid:not(form) {
    border-left: 5px solid white
}
.ng-valid:not(form) {
    border-left: 5px solid white
}*/
.error {
    position: absolute;
    top: -3.5em;
    left: 0;
    padding: .5em 1em .4em;
    background-color: red;
    border: 1px solid #f00;
    border-radius: 5px;
    color: white;
}
    .error::after,
    .error::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 15px;
        border: solid transparent;
    }

    .error::after {
        margin-left: 1px;
        border-top-color: #f66;
        border-width: 7px;
    }

    .error::before {
        border-top-color: #f00;
        border-width: 8px;
    }
