﻿<div>
    <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="userInfoForm" #f="ngForm" novalidate
          (ngSubmit)="saveInventory()">



        <div class="form-group">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="primaryItem-{{uniqueId}}">{{'inventory.management.PrimaryItem' | translate}}</label>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{inventoryAdd.primaryItem}}</p>
            </div>
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="secondaryItem-{{uniqueId}}">{{'inventory.management.SecondaryItem' | translate}}</label>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{inventoryAdd.secondaryItem}}</p>
            </div>
        </div>


        <div class="form-group has-feedback">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="tertiaryItem-{{uniqueId}}">{{'inventory.management.TertiaryItem' | translate}}</label>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{inventoryAdd.tertiaryItem}}</p>
            </div>
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="detailItem-{{uniqueId}}">{{'inventory.management.DetailItem' | translate}}</label>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{inventoryAdd.detailItem}}</p>
            </div>
        </div>
     
        <!--<div class="form-group has-feedback">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="hasSerialNo-{{uniqueId}}">{{'inventory.management.HasSerialNo' | translate}}</label>
            <div *ngIf="isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-5]="!isViewOnly">
                <p class="form-control-static">{{inventoryAdd.hasSerialNo}}</p>
            </div>

        </div>-->
        
        <div class="form-group has-feedback">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="totalNumber-{{uniqueId}}">{{'inventory.management.TotalNumber' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-5]="!isViewOnly">
                <p class="form-control-static">{{inventoryAdd.totalNumber}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-2]="isViewOnly" [class.col-md-3]="!isViewOnly">
                <input type="number" attr.id="totalNumber-{{uniqueId}}" id="totalNumber" name="totalNumber" placeholder="Enter Total Number" class="form-control" [(ngModel)]="inventoryAddEdit.totalNumber" #totalNumber="ngModel" />

            </div>

        </div>

        <div class="form-group has-feedback">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="buyDate-{{uniqueId}}">{{'inventory.management.BuyDate' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-5]="!isViewOnly">
                <p class="form-control-static">{{inventoryAdd.buyDate}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-5]="!isViewOnly">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" attr.id="buyDate-{{uniqueId}}" [max]="maxDate"  name="buyDate" placeholder="Enter Buy Date"
                           [(ngModel)]="inventoryAddEdit.buyDate" #buyDate="ngModel">
                    <mat-datepicker-toggle matSuffix [for]="picker">

                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                </div>
                <!--<div *ngIf="isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-5]="!isViewOnly">
            <input type="date" attr.id="buyDate-{{uniqueId}}" id="buyDate" name="buyDate" placeholder="Enter Buy Date" class="form-control" [(ngModel)]="inventoryAddEdit.buyDate" #buyDate="ngModel" />
        </div>-->
            </div>

            <div *ngIf="!isViewOnly" class="row">
                <div class="col-md-12">
                    <hr [class.last-separator-hr]="!isEditMode" [class.edit-last-separator-hr]="isEditMode" />
                </div>
            </div>
            <div *ngIf="!isViewOnly" class="form-group">
                <div class="col-sm-7">
                    <div class="pull-right">
                        <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
                        <!--<button *ngIf="!isEditMode && !isGeneralEditor" type="button" (click)="edit()" class="btn btn-default"><i class='fa fa-edit'></i> {{'users.editor.Edit' | translate}}</button>-->
                        <button *ngIf="isEditMode" type="button" (click)="close()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>

                        <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving" style="margin-left:15px">
                            <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
</form>
</div>
