﻿<div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12">
        <div class="row control-box">
            <!--<h4 style="text-align:center">{{'mainMenu.Inventory' | translate}}</h4>-->
            <mat-toolbar style="background-color: rgb(128,0,0) !important;color:white">
                <h4 style="text-align:center">POS Types</h4>
            </mat-toolbar>
            <hr class="separator-hr" />
            <div class="col-sm-8">
                <div class="form-group search-box">
                    <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'inventory.management.Search' | translate}}">></search-box>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="navbar action-box">
                    <div *ngIf="canCreateUsers">
                        <mat-chip-list>
                            <mat-chip color="primary" style="background-color: green !important;" selected="true">
                                <a href="javascript:;" (click)="newInventory()" style="color:white;text-decoration: none !important">
                                    <span>Add New POS Type </span>
                                </a>
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                    <!--<ul class="nav navbar-nav navbar-right">
                <li class="toolbaritem">
                    <a href="javascript:;" (click)="newInventory(row)">
                        <i class="fa fa-plus-circle"></i> {{'inventory.management.NewInventory' | translate}}
                    </a>
                </li>
            </ul>-->
                </div>
            </div>
        </div>



        <ngx-datatable class="material colored-
                       
                       er sm table table-striped table-hover"
                       [loadingIndicator]="loadingIndicator"
                       [rows]="rows"
                       [rowHeight]="35"
                       [headerHeight]="35"
                       [footerHeight]="35"
                       [columns]="columns"
                       [scrollbarV]="true"
                       [columnMode]="'force'"
                       [selectionType]="checkbox">
        </ngx-datatable>

        <ng-template #indexTemplate let-value="value">
            <strong>{{value}}</strong>
        </ng-template>

        <ng-template #primaryItemTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.primaryItem}}</span>
        </ng-template>
        <ng-template #secondaryItemTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.secondaryItem}}</span>
        </ng-template>
        <ng-template #tertiaryItemTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.tertiaryItem}}</span>
        </ng-template>
        <ng-template #detailItemTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.detailItem}}</span>
        </ng-template>
        <!--<ng-template #hasSerialNoTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.hasSerialNo}}</span>
        </ng-template>-->
        <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
            <div>
                <a class="btn btn-link btn-xs" href="javascript:;" (click)="editInventory(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'inventory.management.Edit' | translate}}</a>
                |
                <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteInventory(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'inventory.management.Delete' | translate}}</a>
            </div>
        </ng-template>




        <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <mat-toolbar style="background-color:rgb(128,0,0);color:white">
                            <h4 style="text-align:center">New Pos</h4>
                        </mat-toolbar>

                        <button type="button" class="close col-md-offset-5" title="Close" (click)="editorModal.hide()" style="color:white;font-size:30px">
                            <span aria-hidden="true" class="col-md-1">&times;</span>
                        </button>
                       
                       
                    </div>
                    <div class="modal-body">
                        <inventory-edit #inventoryEditor [isGeneralEditor]="true"></inventory-edit>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
