
﻿<div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12">
        <div [hidden]="edited">

            <div class="row control-box">
                <!--<h4 style="text-align:center">Pos Types Stock</h4>-->
                <mat-toolbar style="background-color: rgb(128,0,0) !important;;color:white">
                    <h4 style="text-align:center">POS Stock</h4>
                </mat-toolbar>
                <app-date-range [(dateRange)]="dateRange" (dateRangeChange)="setReturnValue($event)"></app-date-range>
                <button class="btn btn-primary" value="CLEAR" (click)="loadData()" style="margin-left:20px;margin-top:10px">Reset</button>
                <div class="col-sm-8" style="margin-top:20px">
                    <div class="form-group search-box">
                        <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'inventory.management.Search' | translate}}">></search-box>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <ag-grid-angular style=" height: 500px;"
                                 #agGrid
                                 id="myGrid"
                                 class="ag-theme-balham"
                                 [enableSorting]="true"
                                 [enableFilter]="true"
                                 [rowData]="rows"
                                 [pagination]="true"
                                 rowSelection="multiple"
                                 [columnDefs]="columnDefs"
                                 (rowClicked)="onRowClicked($event)">
                </ag-grid-angular>
            </div>
            <!--<ngx-datatable class="material colored-header sm table table-striped table-hover" id="example"
                   [loadingIndicator]="loadingIndicator"
                   [rows]="rows"
                   [rowHeight]="35"
                   [headerHeight]="35"
                   [footerHeight]="35"
                   [columns]="columns"
                   [scrollbarV]="true"
                   [columnMode]="'force'">
    </ngx-datatable>

    <ng-template #indexTemplate let-value="value">
        <strong>{{value}}</strong>
    </ng-template>

    <ng-template #primaryItemTemplate let-row="row" let-value="row" let-i="index">
        <span>{{value.primaryItem}}</span>
    </ng-template>
    <ng-template #secondaryItemTemplate let-row="row" let-value="row" let-i="index">
        <span>{{value.secondaryItem}}</span>
    </ng-template>
    <ng-template #tertiaryItemTemplate let-row="row" let-value="row" let-i="index">
        <span>{{value.tertiaryItem}}</span>
    </ng-template>
    <ng-template #detailItemTemplate let-row="row" let-value="row" let-i="index">
        <span>{{value.detailItem}}</span>
    </ng-template>
    <ng-template #totalNumberTemplate let-row="row" let-value="row" let-i="index">
        <span>{{value.totalNumber}}</span>
    </ng-template>
    <ng-template #hasSerialNoTemplate let-row="row" let-value="row" let-i="index">
        <span *ngIf="value.remainingNumber==0" style="background-color:red;color:white">FULL-STOCK</span>
        <span *ngIf="value.remainingNumber!=0">{{value.stock}}</span>
    </ng-template>

    <ng-template #boughtDateTemplate let-row="row" let-value="row" let-i="index">
        <span>{{value.buyDate | date}}</span>
    </ng-template>
    <ng-template #actionsTemplate let-row="row" let-value="row" let-i="index">
        <div *ngIf="canManageUsers">
            <a class="btn btn-link btn-xs" href="javascript:;" (click)="editInventory(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'inventory.management.Edit' | translate}}</a>
            |
            <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteInventory(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'inventory.management.Delete' | translate}}</a>
            |

            <a class="btn btn-link btn-xs" [hidden]="value.hasSerialNo==false" href="javascript:;" (click)="serialPage(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'inventory.management.SerialNumber' | translate}}</a>
        </div>
    </ng-template>-->




            <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <mat-toolbar style="background-color:maroon;color:white">
                                
                                <h4 style="text-align:center"> Edit Pos Type Stock</h4>
                                <button type="button" class="close col-md-offset-2" title="Close" (click)="editorModal.hide()" style="color:white;font-size:30px">
                                    <span aria-hidden="true" class="col-md-1">&times;</span>
                                </button>
                            </mat-toolbar>
                           
                        </div>
                        <div class="modal-body">

                            <inventory-add-edit #inventoryAddEditor [isGeneralEditor]="true"></inventory-add-edit>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <mat-chip-list [hidden]="!edited">
                <mat-chip style="background-color:green" selected="true">
                    <a href="javascript:;" (click)="loadData()" [hidden]="!edited" style="color:white;text-decoration: none !important">
                        <span>BACK</span>
                    </a>
                </mat-chip>
            </mat-chip-list>
            
            <serial-add #serialEditor [hidden]="!edited"></serial-add>
        </div>
        </div>
    </div>
