﻿<div>
    <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="userInfoForm" #f="ngForm" novalidate
          (ngSubmit)="saveInventory()">

        <div class="form-group has-feedback col-md-12">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="primaryItem-{{uniqueId}}">{{'inventory.management.PrimaryItem' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{inventory.primaryItem}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input autofocus type="text" attr.id="primaryItem-{{uniqueId}}" id="primaryItem" name="primaryItem" placeholder="Enter Main Item" class="form-control" [(ngModel)]="inventoryEdit.primaryItem" #primaryItem="ngModel" required />

            </div>
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="secondaryItem-{{uniqueId}}">{{'inventory.management.SecondaryItem' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{inventory.secondaryItem}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input  type="text" attr.id="secondaryItem-{{uniqueId}}" id="secondaryItem" name="secondaryItem" placeholder="Enter Sub-Item"
                       class="form-control" [(ngModel)]="inventoryEdit.secondaryItem" #secondaryItem="ngModel" required />

            </div>
        </div>

        <div class="form-group has-feedback col-md-12">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="tertiaryItem-{{uniqueId}}">{{'inventory.management.TertiaryItem' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{inventory.tertiaryItem}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input  type="text" attr.id="tertiaryItem-{{uniqueId}}" id="tertiaryItem" name="tertiaryItem" placeholder="Enter Third Item" class="form-control" [(ngModel)]="inventoryEdit.tertiaryItem" #tertiaryItem="ngModel" required/>

            </div>
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="detailItem-{{uniqueId}}">{{'inventory.management.DetailItem' | translate}}</label>
            <div *ngIf="!isEditMode"[class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{inventory.detailItem}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input  type="text" attr.id="detailItem-{{uniqueId}}" id="detailItem" name="detailItem" placeholder="Enter Detail Item" class="form-control" [(ngModel)]="inventoryEdit.detailItem" #detailItem="ngModel" required />

            </div>
        </div>
       
        <!--<div class="form-group has-feedback col-md-12">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="connectivity-{{uniqueId}}">Connectivity</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{inventory.connectivity}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input  type="text" attr.id="connectivity-{{uniqueId}}" id="connectivity" name="connectivity" placeholder="Enter Connectivity" class="form-control" [(ngModel)]="inventoryEdit.connectivity" #connectivity="ngModel" required />

            </div>
        </div>-->

       
        <div *ngIf="!isViewOnly" class="form-group">
            <div class="col-sm-7">
                <div class="pull-right">
                    <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
                    <!--<button *ngIf="isEditMode " type="button" (click)="edit()" class="btn btn-default"><i class='fa fa-edit'></i> {{'users.editor.Edit' | translate}}</button>-->
                    <button *ngIf="isEditMode" type="button" (click)="close()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>

                    <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving" style="margin-left:15px">
                        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
