﻿<div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12">
        <div class="panel panel-primary boxshadow">
            <fieldset style="margin-top:30px">
                <form *ngIf="formResetToggle" class="form-horizontal  col-md-offset-2" name="InventoryAddForm" #f="ngForm" (ngSubmit)="save()">

                    <div class="form-group">
                        <label style="padding-top: 20px;" [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="inventoryName-{{uniqueId}}">{{'inventory.management.InventoryName' | translate}}</label>

                        <div [class.col-md-4]="isViewOnly" [class.col-md-5]="!isViewOnly">

                            <mat-form-field class="col-sm-12 " style="border-left: 5px solid white">

                                <mat-select placeholder="Pick Types" style="border-left: 5px solid white" [(ngModel)]="inventory.inventoryId" name="inventory" [formControl]="inventoryControl" (click)="addNewInventoryToList()" required>
                                    <mat-option *ngFor="let inventory of rows" [value]="inventory.id" class="drop">
                                        <span> {{ inventory.primaryItem }} &nbsp;&nbsp;{{ inventory.secondaryItem }}  &nbsp;&nbsp; {{ inventory.tertiaryItem }} &nbsp;&nbsp; {{ inventory.detailItem }}</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="inventoryControl.hasError('required')">Please choose inventory type</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-2 nohover">
                            <div class="navbar action-box">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="toolbaritem">
                                        <a href="javascript:;" (click)="newInventory()">
                                            <i class="fa fa-plus-circle " style="font-size:20px"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="form-group has-feedback col-sm-offset-4">
                        <label style="padding-top: 20px;" [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="totalNumber-{{uniqueId}}">{{'inventory.management.TotalNumber' | translate}}</label>
                        <div [class.col-md-4]="isViewOnly" [class.col-md-offset-3]="!isViewOnly">


                            <mat-form-field outline>

                                <mat-label>Fill Total Number</mat-label>
                                <input matInput attr.id="totalNumer-{{uniqueId}}" name="totalNumber"
                                       [(ngModel)]="inventory.totalNumber" #totalNumberItem="ngModel" placeholder="Placeholder" />
                                <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->

                            </mat-form-field>
                        </div>
                    </div>


                    <!---Vendor Input Box -->
                    <div class="form-group has-feedback col-sm-offset-4">
                        <label style="padding-top: 20px;" [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label"
                               for="totalNumber-{{uniqueId}}">Vendors Name :</label>
                        <div [class.col-md-4]="isViewOnly" [class.col-md-offset-3]="!isViewOnly">


                            <mat-form-field outline>
                                <mat-label>Fill Vendors Name</mat-label>
                                <input matInput attr.id="remarks-{{uniqueId}}" name="remarks"
                                       [(ngModel)]="inventory.remarks" #remarksItem="ngModel" placeholder="Placeholder" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="form-group has-feedback ">
                        <label style="padding-top: 20px;" [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="buyDate-{{uniqueId}}">{{'inventory.management.BuyDate' | translate}}</label>
                        <div [class.col-md-4]="isViewOnly" [class.col-md-offset-3]="!isViewOnly">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" [max]="maxDate" attr.id="BuyDate-{{uniqueId}}" name="buyDate" placeholder="Enter Buy Date"
                                       [(ngModel)]="inventory.buyDate" #buyDateItem="ngModel">
                                <mat-datepicker-toggle matSuffix [for]="picker">

                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="col-sm-5" style="margin-bottom:30px">
                        <div class="pull-right">

                            <button type="submit" class="btn btn-primary" [disabled]="isSaving">
                                <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('inventory.editor.Saving' | translate) : ('inventory.editor.Save' | translate)}}
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </fieldset>
            <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()"  tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <mat-toolbar style="background-color: rgb(128,0,0) !important;color:white">
                                <h4 style="text-align:center">Add New Pos</h4>
                            </mat-toolbar>
                           
                            <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <inventory-edit #inventoryEditor [isGeneralEditor]="true"></inventory-edit>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>