﻿<div style="margin-top:100px;">
  <div class="col-sm-4 boxshadow" style="border:2px solid #027FF4">
      <div style="padding-top:30px">
          <label [class.col-md-3]="isViewOnly" [class.col-md-5]="!isViewOnly" class="control-label" for="serialKey-{{uniqueId}}">{{'inventory.management.InventoryName' | translate}}</label>
          :
          {{inventoryAdd.primaryItem}} &nbsp;{{inventoryAdd.secondaryItem}} &nbsp; {{inventoryAdd.tertiaryItem}}&nbsp; {{inventoryAdd.detailItem}}<br />
          <br /><br />

          <label [class.col-md-3]="isViewOnly" [class.col-md-5]="!isViewOnly" class="control-label" for="totalNumberKey-{{uniqueId}}">{{'inventory.management.TotalNumber' | translate}}</label>
          :
          {{inventoryAdd.totalNumber}} <br />
          <br /><br />

          <label [class.col-md-3]="isViewOnly" [class.col-md-5]="!isViewOnly" class="control-label" for="remainingNumber-{{uniqueId}}">Remaining</label>
          :
          {{inventoryAdd.remainingNumber}} <br />
          <br /><br />

          <label [class.col-md-3]="isViewOnly" [class.col-md-5]="!isViewOnly" class="control-label" for="buyDate-{{uniqueId}}">{{'inventory.management.BuyDate' | translate}}</label>
          :
          {{inventoryAdd.buyDate | date}}
          <br /><br /><br />
      </div>
  </div>
    <div class="col-sm-4">
        <fieldset style="margin-top:70px">
            <form *ngIf="formResetToggle" class="form-horizontal  col-md-offset-2" name="SerialAddForm" #f="ngForm" novalidate
                  (ngSubmit)="f.form.valid ? save() :
                   (serialKey.errors?.pattern && showErrorAlert('Invalid Serial Number', 'Please enter a correct Serial Number'));">

                <div class="form-group has-feedback">
                    <!--<label [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly" class="control-label" for="remainingSerialKey-{{uniqueId}}">Remaining</label>
                    :-->
                   


                    <div [class.col-md-4]="isViewOnly" [class.col-md-12]="!isViewOnly" [ngClass]="{'has-success': f.submitted && serialKey.valid, 'has-error' : f.submitted && !serialKey.valid}">
                        <input type="text" attr.id="serialKey-{{uniqueId}}" style="height:40px" name="serialKey" placeholder="Enter Serial Number" pattern="[0-9]{5}[a-zA-Z ]{2}[0-9]{8}"
                               class="form-control" [(ngModel)]="serial.serialKey" #serialKey="ngModel" required />

                    </div>
                    <small *ngIf="serialKey.errors?.pattern" class="hint-sm" style="font-size:15px;margin-left:10px;margin-top:20px">Hint:12345AB12345678</small>
                    <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': serialKey.valid, 'glyphicon-remove' : !serialKey.valid}"></span>
                    <span *ngIf="showValidationErrors && f.submitted && serialKey.errors?.required" class="errorMessage">
                       
                    </span>
                    <span *ngIf="showValidationErrors && f.submitted && serialKey.errors?.pattern" class="errorMessage">
                        Please Enter a Correct Serial Number
                    </span>
                    <div *ngIf="serialKey.errors?.pattern">
                        <span class="error">Serial Number is Invalid</span>
                    </div>

                    <div class="col-md-offset-4" style="margin-top:70px">
                        <button type="submit" class="btn btn-primary" [disabled]="isSaving">
                            <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('inventory.editor.Saving' | translate) : ('inventory.editor.Save' | translate)}}
                        </button>
                    </div>
                </div>

                <div class="clearfix"></div>
            </form>
        </fieldset>
    </div>
 <div class="col-sm-4" style="margin-top:-50px">
     <div class="row control-box">
         <!--<h4 style="text-align:center">{{'inventory.management.SerialNumber' | translate}}</h4>-->
         <hr class="separator-hr" />
         <div class="col-sm-12">
             <div class="form-group search-box">
                 <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'inventory.management.SearchSerial' | translate}}">></search-box>
             </div>
         </div>

     </div>
     <ngx-datatable #serialTemplate class="material colored-header sm table table-striped table-hover"
                    [loadingIndicator]="loadingIndicator"
                    [rows]="rows"
                    [rowHeight]="35"
                    [headerHeight]="35"
                    [footerHeight]="35"
                    [columns]="columns"
                    [scrollbarV]="true"
                    [columnMode]="'force'">
     </ngx-datatable>
     
     <ng-template #indexTemplate let-value="value">
         <strong>{{value}}</strong>
     </ng-template>

     <ng-template #serialKeyTemplate let-row="row" let-value="row" let-i="index" >
         <span >{{value.serialKey}}</span>
     </ng-template>
     <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
         <div *ngIf="canManageUsers">

             <!--<mat-checkbox name="isSold" [(ngModel)]="row.isSold">Sold</mat-checkbox>
           
             |
             <mat-checkbox name="isDeployed" [(ngModel)]="row.isDeployed">Deployed</mat-checkbox>
             |-->
             <a class="btn btn-link btn-xs col-sm-offset-5" href="javascript:;" (click)="deleteSerialKey(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'inventory.management.Delete' | translate}}</a>
         </div>
     </ng-template>

 </div>
</div>
