﻿<div>
    <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="userInfoForm" #f="ngForm" novalidate
          (ngSubmit)=" savePosStock()">

        <div class="row control-box">
            <div class="col-sm-8">
                <div class="form-group search-box">
                    <search-box (searchChange)="onSearchChanged($event)" placeholder="Search for Serial Number">></search-box>
                </div>
            </div>
        </div>
        <ngx-datatable class="material colored-header sm table table-striped table-hover"
                       [loadingIndicator]="loadingIndicator"
                       [rows]="rowsSerial"
                       [rowHeight]="35"
                       [headerHeight]="35"
                       [footerHeight]="35"
                       [columns]="columns"
                       [scrollbarV]="true"
                       [scrollbarH]="true"
                       [columnMode]="'force'">
        </ngx-datatable>
        <ng-template #indexTemplate let-value="value">
            <strong>{{value}}</strong>
        </ng-template>
        <ng-template #serialKeyTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.serialKey}}</span>
        </ng-template>


    </form>
</div>

