﻿<!--<div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12">-->
        <div class="row control-box">
            <h3 class="col-md-5 col-md-offset-3" style="text-align:center;font-style:italic">Previous Support</h3>
            <!--<div class="col-sm-8">
                <div class="form-group search-box">
                    <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'support.management.Search' | translate}}">></search-box>
                </div>
            </div>-->
            <label style="background-color:#027FF4;color:white; margin-top:20px" class="">
                <button class="btn btn-primary" (click)="onBtExport()">Export to Excel</button>
            </label>
        </div>



        <ag-grid-angular style="width: 850px; height: 500px;"
                         #agGrid
                         id="myGrid"
                         class="ag-theme-balham"
                         [enableSorting]="true"
                         [enableFilter]="true"
                         [rowData]="rows"
                         [pagination]="true"
                         rowSelection="multiple"
                         [columnDefs]="columnDefs"
                         (gridReady)="onGridReady($event)"
                         (rowClicked)="onRowClicked($event)">
        </ag-grid-angular>

