﻿<div >
    <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="userInfoForm" #f="ngForm" novalidate
          (ngSubmit)="f.form.valid ? saveSupport() :

        (!resolvedBy.valid && showErrorAlert('Resolved by is required', 'Please enter a Resolved By'));">

        <div class="form-group" style="display:none">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="deploymentRequestId-{{uniqueId}}">{{'support.management.Phone' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <p class="form-control-static">{{support.deploymentRequestId}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <input autofocus type="text" attr.id="deploymentRequestId-{{uniqueId}}" id="deploymentRequestId" name="deploymentRequestId" class="form-control" [(ngModel)]="supportEdit.deploymentRequestId" #deploymentRequestId="ngModel" required />
            </div>
        </div>
        <hr class="separator-hr" />

        <div class="form-group has-feedback" style="margin-top:100px">
            <label class="control-label col-md-2" for="contactPerson-{{uniqueId}}">Contact Person</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{supportEdit.contactPerson}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="text" attr.id="contactPerson-{{uniqueId}}" id="contactPerson" name="contactPerson" placeholder="Enter Contact Person" class="form-control" [(ngModel)]="supportEdit.contactPerson" #contactPerson="ngModel" required />

            </div>

            <label class="control-label col-md-2" for="contactNo-{{uniqueId}}">Contact Number</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{supportEdit.contactNo}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="number" attr.id="contactNo-{{uniqueId}}" id="contactNo" name="contactNo" placeholder="Enter Contact Number" class="form-control" [(ngModel)]="supportEdit.contactNo" #contactNo="ngModel" required />

            </div>
        </div>


        <div class="form-group" style="margin-top:50px">
            <!--<label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="phone-{{uniqueId}}">{{'support.management.Phone' | translate}}</label>-->
            <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <p class="form-control-static">{{support.phone}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-3]="!isViewOnly" class="col-md-offset-2">
                <!--<input autofocus type="checkbox" attr.id="phone-{{uniqueId}}" id="phone" name="phone" style="width:20px" class="form-control" [(ngModel)]="supportEdit.phone" #phone="ngModel" required />-->
                <mat-checkbox attr.id="phone-{{uniqueId}}" name="phone" [(ngModel)]="supportEdit.phone" #phone="ngModel">Phone/Mobile</mat-checkbox>
            </div>
            <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <p class="form-control-static">{{support.field}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-3]="!isViewOnly">

                <mat-checkbox attr.id="field-{{uniqueId}}" name="field" [(ngModel)]="supportEdit.field" #field="ngModel">Field</mat-checkbox>
            </div>
            <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <p class="form-control-static">{{support.priority}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-3]="!isViewOnly">

                <mat-checkbox attr.id="priority-{{uniqueId}}" name="priority" [(ngModel)]="supportEdit.priority" #priority="ngModel">Priority</mat-checkbox>
            </div>
        </div>

        <!--<div class="form-group has-feedback">
        <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="status-{{uniqueId}}">Status</label>
        <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
            <p class="form-control-static">{{support.status}}</p>
        </div>
        <div *ngIf="isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
            <input type="checkbox" attr.id="status-{{uniqueId}}" id="priority" name="priority" style="width:20px" class="form-control" [(ngModel)]="supportEdit.status" #status="ngModel" />
        </div>
    </div>-->
        <div class="form-group" style="margin-top:30px">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="issue-{{uniqueId}}">Issue</label>
            <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <p class="form-control-static">{{support.issue}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <textarea attr.id="issue-{{uniqueId}}" id="issue" name="issue" placeholder="Enter Issue" class="form-control" [(ngModel)]="supportEdit.issue" #issue="ngModel"></textarea>

            </div>
        </div>
        <div class="form-group">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="remarks-{{uniqueId}}">{{'support.management.Remarks' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <p class="form-control-static">{{support.remarks}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <input type="text" attr.id="remarks-{{uniqueId}}" id="remarks" name="remarks" placeholder="Enter remarks" class="form-control" [(ngModel)]="supportEdit.remarks" #remarks="ngModel" required />
            </div>
        </div>
        <div class="form-group">
            <label *ngIf="!isNewSupport" [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="verifiedBy-{{uniqueId}}">Resolved By</label>
            <div *ngIf="!isEditMode && !isNewSupport" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <p class="form-control-static">{{support.resolvedBy}}</p>
            </div>
            <div *ngIf="isEditMode && !isNewSupport" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly" [ngClass]="{'has-success': f.submitted && resolvedBy.valid, 'has-error' : f.submitted && !resolvedBy.valid}">
                <input type="text" attr.id="resolvedBy-{{uniqueId}}" id="resolvedBy" name="resolvedBy" placeholder="Resolved By" class="form-control" [(ngModel)]="supportEdit.resolvedBy" #resolvedBy="ngModel" required />
                <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': resolvedBy.valid, 'glyphicon-remove' : !resolvedBy.valid}"></span>
                <span *ngIf="showValidationErrors && f.submitted && !resolvedBy.valid" class="errorMessage">
                    Resolved By is required
                </span>
            </div>
        </div>
        <div class="form-group">
            <div *ngIf="!isEditMode && !isNewSupport" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <p class="form-control-static">{{support.status}}</p>
            </div>
            <div *ngIf="isEditMode && !isNewSupport" [class.col-md-4]="isViewOnly" [class.col-md-3]="!isViewOnly" class="col-md-offset-2">
                <!--<input autofocus type="checkbox" attr.id="phone-{{uniqueId}}" id="phone" name="phone" style="width:20px" class="form-control" [(ngModel)]="supportEdit.phone" #phone="ngModel" required />-->
                <span style="font-size:25px;color:darkred">*</span><mat-checkbox attr.id="status-{{uniqueId}}" name="status" [(ngModel)]="supportEdit.status" #status="ngModel">Verify<span>&nbsp;</span> (Necessary)</mat-checkbox>
            </div>
        </div>


        <div *ngIf="!isViewOnly" class="form-group">
            <div class="col-sm-7">
                <div class="pull-right">
                    <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
                    <button *ngIf="isEditMode" type="button" (click)="close()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>

                    <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving" style="margin-left:15px">
                        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
    </div>
