﻿
<form [formGroup]="invoiceForm" *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="userInfoForm" #f="ngForm" novalidate
  
     (ngSubmit)="f.form.valid ? save() :

            (status.valid && showErrorAlert('Status is required', 'Please enter a Status'));
            (resolvedBy.valid && showErrorAlert('Resolved by is required', 'Please enter a Resolved By'));">

    <div class="form-group has-feedback col-md-12">

        <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="status-{{uniqueId}}">Status</label>
        <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
            <p class="form-control-static">{{maintenance.status}}</p>
        </div>

        <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly" [ngClass]="{'has-success': f.submitted && status.valid, 'has-error' : f.submitted && !status.valid}">
            <input formControlName="status" autofocus type="text" attr.id="status-{{uniqueId}}" #status id="status" name="status" placeholder="Enter Status" class="form-control" required />
            <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': status.valid, 'glyphicon-remove' : !status.valid}"></span>
            <span *ngIf="showValidationErrors && f.submitted && !status.valid" class="errorMessage">
                Status is required
            </span>
        </div>
       
        <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="resolvedBy-{{uniqueId}}">Resolved By </label>
        <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
            <p class="form-control-static">{{maintenance.resolvedBy}}</p>
        </div>
        <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly" [ngClass]="{'has-success': f.submitted && resolvedBy.valid, 'has-error' : f.submitted && !resolvedBy.valid}">
            <input formControlName="resolvedBy" type="text" #resolvedBy attr.id="resolvedBy-{{uniqueId}}" id="resolvedBy" name="resolvedBy" placeholder="Resolved By"
                   class="form-control" required />
            <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': resolvedBy.valid, 'glyphicon-remove' : !resolvedBy.valid}"></span>
            <span *ngIf="showValidationErrors && f.submitted && !resolvedBy.valid" class="errorMessage">
                Resolved By is required
            </span>
        </div>
       

    </div>
    <div class="form-group has-feedback col-md-12">
        <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="remarks-{{uniqueId}}">Remarks</label>
        <!--<div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
            <p class="form-control-static">{{maintenance.remarks}}</p>
        </div>-->
        <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
            <input formControlName="remarks" type="text" attr.id="remarks-{{uniqueId}}" id="remarks" name="remarks" placeholder="Remarks"
                   class="form-control"  />

        </div>
        <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="terminate-{{uniqueId}}">Terminate </label>
        <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
            <input formControlName="terminate" type="text" attr.id="terminate-{{uniqueId}}" id="terminate" name="terminate" placeholder="Terminate"
                   class="form-control"  />

        </div>
    </div>
    <div formArrayName="itemRows" class="col-md-12">
        <div *ngFor="let itemrow of invoiceForm.controls.itemRows.controls; let i=index" [formGroupName]="i">
            <div class="form-group has-feedback col-md-12">
                <h4 class="col-sm-1"> #{{i+1}}</h4>
                <label [class.col-md-3]="isViewOnly" [class.col-md-1]="!isViewOnly" class="control-label" for="issue">Issue</label>


                <div *ngIf="isEditMode" [class.col-md-2]="isViewOnly" [class.col-md-3]="!isViewOnly">
                    <input formControlName="issue" autofocus type="text"  id="issue" name="issue" placeholder="Issue" class="form-control"  />

                </div>

                <label [class.col-md-3]="isViewOnly" [class.col-md-1]="!isViewOnly" class="control-label" for="remarks-{{uniqueId}}">Remarks</label>
                <!--<div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
        <p class="form-control-static">{{maintenance.remarks}}</p>
    </div>-->
                <div *ngIf="isEditMode" [class.col-md-2]="isViewOnly" [class.col-md-3]="!isViewOnly">
                    <input formControlName="remarks" type="text" attr.id="remarks-{{uniqueId}}" id="remarks" name="remarks" placeholder="Remarks"
                           class="form-control" />

                </div>
                <button type="button" (click)="addNewRow()" class="btn btn-primary col-md-1">Add</button>
                <button *ngIf="invoiceForm.controls.itemRows.controls.length > 1" (click)="deleteRow(i)" class="btn btn-danger col-md-1" style="margin-left:5px">Remove</button>

            </div>
        </div>
    </div>



    <div *ngIf="!isViewOnly" class="row">
        <div class="col-md-12">
            <hr [class.last-separator-hr]="!isEditMode" [class.edit-last-separator-hr]="isEditMode" />
        </div>
    </div>
    <div *ngIf="!isViewOnly" class="form-group">
        <div class="col-sm-7">
            <div class="pull-right">
                <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
                <!--<button *ngIf="isEditMode " type="button" (click)="edit()" class="btn btn-default"><i class='fa fa-edit'></i> {{'users.editor.Edit' | translate}}</button>-->
                <button *ngIf="isEditMode" type="button" (click)="close()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>

                <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving" style="margin-left:10px">
                    <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
                </button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row control-box">

        <div class="col-sm-8" style="margin-top:20px">
            <div class="form-group search-box">
                <search-box (searchChange)="onSearchChanged($event)" placeholder="Search Issue">></search-box>
            </div>
        </div>
    </div>
    <ag-grid-angular style="width: 850px; height: 500px;"
                     #agGrid
                     id="myGrid"
                     class="ag-theme-balham"
                     [enableSorting]="true"
                     [enableFilter]="true"
                     [rowData]="rows"
                     [pagination]="true"
                     rowSelection="multiple"
                     [columnDefs]="columnDefs">
    </ag-grid-angular>
    <!--<ngx-datatable class="material colored-header sm table table-striped table-hover" id="example"
                   [loadingIndicator]="loadingIndicator"
                   [rows]="rows"
                   [rowHeight]="35"
                   [headerHeight]="35"
                   [footerHeight]="35"
                   [columns]="columns"
                   [scrollbarV]="true"
                   [columnMode]="'force'">
    </ngx-datatable>

    <ng-template #indexTemplate let-value="value">
        <strong>{{value}}</strong>
    </ng-template>

    <ng-template #issueTemplate let-row="row" let-value="row" let-i="index">
        <span>{{value.issue}}</span>
    </ng-template>
    <ng-template #remarksTemplate let-row="row" let-value="row" let-i="index">
        <span>{{value.remarks}}</span>
    </ng-template>
    <ng-template #createdByTemplate let-row="row" let-value="row" let-i="index">
        <span>{{value.createdBy}}</span>
    </ng-template>
    <ng-template #createdDateTemplate let-row="row" let-value="row" let-i="index">
        <span>{{value.createdDate | date}}</span>
    </ng-template>-->



</form>


