﻿<div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12">
        <div class="row control-box">
            <mat-toolbar style=" background-color: rgb(128,0,0);color:white">
                <h4 style="text-align:center"> Maintenance</h4>
            </mat-toolbar>
            <div class="col-sm-12" style="margin-top:15px">
                <div class="form-group search-box col-sm-6">
                    <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'maintenance.management.Search' | translate}}">></search-box>
                </div>
                <label style="background-color:#027FF4;color:white;" class="col-sm-offset-2">
                    <button class="btn btn-primary" (click)="onBtExport()">Export to Excel</button>
                </label>
                <button class="btn btn-primary col-sm-offset-1" value="CLEAR" (click)="loadMaintenanceData()">Reset</button>
            </div>

            <!--<div class="col-sm-4">
        <div class="navbar action-box">
            <ul class="nav navbar-nav navbar-right">
                <li class="toolbaritem">
                    <a href="javascript:;" (click)=" newSerialKey()">
                        <i class="fa fa-plus-circle"></i> Add Serial Number
                    </a>
                </li>
            </ul>
        </div>
    </div>-->
        </div>



        <div class="col-sm-12">
            <ag-grid-angular style=" height: 500px;"
                             #agGrid
                             id="myGrid"
                             class="ag-theme-balham"
                             [enableSorting]="true"
                             [enableFilter]="true"
                             [pagination]="true"
                             [rowData]="rows"
                             [rowSelection]="multiple"
                             [columnDefs]="columnDefs"
                             (gridReady)="onGridReady($event)"
                             (rowClicked)="onRowClicked($event)">
            </ag-grid-angular>
        </div>


        <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">

                        <mat-toolbar style=" background-color: rgb(128,0,0);color:white" class="pop">
                            <h4 style="text-align:center"> {{editingInventoryName ? ('maintenance.management.EditMaintenance' | translate:editingMaintenanceName) : ('maintenance.management.NewMaintenance' | translate)}}</h4>
                            <button type="button" class="close col-md-offset-9" title="Close" (click)="editorModal.hide()" style="color:white;font-size:30px">
                                <span aria-hidden="true" class="col-md-1">&times;</span>
                            </button>
                        </mat-toolbar>
                    </div>
                    <div class="modal-body">
                        <maintenance-edit #maintenanceEditor [isGeneralEditor]="true"></maintenance-edit>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" bsModal #statusModal="bs-modal" (onHidden)="onEditorStatusModalHidden()" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">

                        <mat-toolbar style=" background-color: rgb(128,0,0);color:white" class="pop">
                            <h4 style="text-align:center">Add Status</h4>
                            <button type="button" class="close col-md-offset-9" title="Close" (click)="addStatusModal.hide()" style="color:white;font-size:30px">
                                <span aria-hidden="true" class="col-md-1">&times;</span>
                            </button>
                        </mat-toolbar>

                    </div>
                    <div class="modal-body">
                        <damage-pos-status #damagePosEditor [isGeneralEditor]="true"></damage-pos-status>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" bsModal #serialListModal="bs-modal" (onHidden)="onSerialModalHidden()" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left"><i class="fa fa-user-circle-o"></i> {{editingInventoryName ? ('maintenance.management.EditMaintenance' | translate:editingMaintenanceName) : ('maintenance.management.NewMaintenance' | translate)}}</h4>
                        <button type="button" class="close pull-right" title="Close" (click)="serialListModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="modal-body">
                            <ngx-datatable class="material colored-header sm table table-striped table-hover"
                                           [loadingIndicator]="loadingIndicator"
                                           [rows]="serialRows"
                                           [rowHeight]="35"
                                           [headerHeight]="35"
                                           [footerHeight]="35"
                                           [columns]="columnsSerial"
                                           [scrollbarV]="true"
                                           [columnMode]="'force'"
                                           [selectionType]="checkbox">
                            </ngx-datatable>

                            <ng-template #indexTemplate let-value="value">
                                <strong>{{value}}</strong>
                            </ng-template>
                            <ng-template #serialKeyTemplate1 llet-row="row" let-value="row" let-i="index">
                                <strong>{{value.serialKey}}</strong>
                            </ng-template>
                            <ng-template #actionserialTemplate let-row="row" let-value="value" let-i="index">
                                <div>
                                    <a class="btn btn-link btn-xs" href="javascript:;" (click)="saveMaintenance(row)"><i class="fa fa-plus-circle" aria-hidden="true"></i> Select</a>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
