
#mainContent.app-component {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}


.appTitle.app-component {
    line-height: 50px;
}


.navbar-fixed-top.app-component, .navbar-fixed-bottom.app-component {
    z-index: 1000;
}


.navbar-brand.app-component {
    float: none;
    color: #fff;
}

    .navbar-brand.app-component > img {
        display: inline;
        height: 35px;
    }

.navbar-inner.app-component {
    padding-left: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #027FF4;
    background-image: none;
}

.navbar-inner.toolbar.app-component {
    background-color: #fafafa;
}


.navbar.app-component .nav > .active > a, .navbar.app-component .nav > .active > a:hover, .navbar.app-component .nav > .active > a:focus {
    background-color: #efefef;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #808080;
}

.navbar.app-component .nav > li {
    cursor: pointer;
}

    .navbar.app-component .nav > li > a {
        color: white;
        font-weight: bold;
        -webkit-text-shadow: none;
        text-shadow: none;
        height: 30px;
        padding-top: 6px;
        padding-bottom: 0px;
    }


.navbar-fixed-top.app-component .navbar-inner.app-component,
.navbar-static-top.app-component .navbar-inner.app-component {
    -webkit-box-shadow: 0 1px 00px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 1px 00px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 00px rgba(0, 0, 0, 0);
}

.nav.navBarPadding.app-component {
    margin-left: 5px;
    margin-top: 10px;
}

p.navbar-text.app-component {
    color: #fff;
}

    p.navbar-text.app-component a {
        color: #fff;
    }

.navbar.app-component .brand {
    margin-top: 2px;
    color: #fff;
    -webkit-text-shadow: none;
    text-shadow: none;
}

.navbar-toggle.app-component {
    border: 1px solid white;
}

    .navbar-toggle.app-component .icon-bar {
        background-color: white;
    }





@media screen and (max-width: 992px) {
    #mainContent.app-component {
        /*padding-top: 200px;*/
    }

    .navbar-brand.app-component {
        font-size: 12pt;
    }

    /*.nav.navBarPadding.app-component {
        margin-left: -10px;
    }*/

    .nav.app-component > li > a {
        padding-right: 5px;
        padding-left: 5px;
    }
}


@media screen and (max-width: 768px) {
    .nav-pills.app-component > li {
        float: none;
        margin: 0;
    }

        .nav-pills.app-component > li + li {
            margin-left: 0;
            margin-top: 1px;
        }

    .navbar-collapse.app-component {
        padding-right: 30px;
    }
}


@media (min-width: 768px) {
    a.user-name.app-component {
        max-width: 45px;
    }
}


@media (min-width: 992px) {
    .navbar-toggle.app-component {
        display: none;
    }

    a.user-name.app-component {
        max-width: 100px;
    }
}

@media (min-width: 1200px) {
    a.user-name.app-component {
        max-width: 250px;
    }
}


a.user-name.app-component {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: bottom;
}



/*footer.app-component {
    margin-top: 10px;
    font-weight: bold;
}*/


.navbar-inner.footer.app-component {
    background-color: #f5f5f5;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 40px;
}



.vcenter_text.app-component {
    line-height: 40px;
    vertical-align: middle;
}

.prebootShow.app-component {
    opacity: 1 !important;
}

.prebootStep.app-component {
    opacity: 0;
    transition: .5s ease-in-out all;
}

#main_nav ul {
    background: white;
    float: left;
    -webkit-transition: .5s;
    transition: .5s;
}

#main_nav li {
    float: left;
    position: relative;
    width: 150px;
    list-style: none;
    -webkit-transition: .5s;
    transition: .5s;
}

#main_nav > ul > li > a, h1 {
    text-transform: uppercase;
}

#main_nav a {
    display: block;
    text-decoration: none;
    padding: 5px 15px;
    color: #000;
}

#main_nav ul ul {
    position: absolute;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
}

    #main_nav ul ul ul {
        left: 100%;
        top: 0;
    }

#main_nav li:hover, #main_nav li:hover li {
    background: #ddd;
}

#main_nav li li:hover, #main_nav li li:hover li {
    background: #bbb;
}

#main_nav li li li:hover {
    background: #999;
}

#main_nav li:hover > ul {
    visibility: visible;
    opacity: 1;
}
.dropdown-menu{
    min-width:220px;
}

.dropdown-menu > li.kopie > a {
    padding-left: 5px;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu > a:after {
        border-color: transparent transparent transparent #333;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        content: " ";
        display: block;
        float: right;
        height: 0;
        margin-right: -10px;
        margin-top: 5px;
        width: 0;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #555;
    }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {

    .navbar-nav {
        display: inline;
    }

    .navbar-default .navbar-brand {
        display: inline;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-nav .dropdown-menu > li > a {
        color: red;
        background-color: #ccc;
        border-radius: 4px;
        margin-top: 2px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            background-color: #ccc;
        }

    .navbar-nav .open .dropdown-menu {
        border-bottom: 1px solid white;
        border-radius: 0;
    }

    .dropdown-menu {
        padding-left: 10px;
    }

        .dropdown-menu .dropdown-menu {
            padding-left: 20px;
        }

            .dropdown-menu .dropdown-menu .dropdown-menu {
                padding-left: 30px;
            }

    li.dropdown.open {
        border: 0px solid red;
    }
}

@media (min-width: 768px) {
    ul.nav li:hover > ul.dropdown-menu {
        display: block;
    }

    #navbar {
        text-align: center;
    }
}  
