﻿<div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12" >
        <div style="margin-top:30px">
            <div>
                <mat-toolbar style=" background-color: rgb(128,0,0);color:white">
                    <h4 style="text-align:center">{{'mainMenu.Application' | translate}}</h4>
                </mat-toolbar>

                <div style="margin-top:20px">
                    <div class="col-sm-8">
                        <div class="form-group search-box">

                            <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'application.management.Search' | translate}}">></search-box>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="navbar action-box">
                            <div *ngIf="canCreateUsers">
                                <mat-chip-list class="pull-right">
                                    <mat-chip style="background-color:green" selected="true">
                                        <a href="javascript:;" (click)="newApplication(row)" style="color:white;text-decoration: none !important">
                                            <span>{{'application.management.NewApplication' | translate}}</span>
                                        </a>
                                    </mat-chip>
                                </mat-chip-list>
                            </div>
                            <!--<ul class="nav navbar-nav navbar-right">
                        <li class="toolbaritem">
                            <a href="javascript:;" (click)="newApplication(row)">
                                <i class="fa fa-plus-circle"></i> {{'application.management.NewApplication' | translate}}
                            </a>
                        </li>
                    </ul>-->
                        </div>
                    </div>
                </div>
            </div>



            <ngx-datatable class="material colored-
                   er sm table table-striped table-hover"
                           [loadingIndicator]="loadingIndicator"
                           [rows]="rows"
                           [rowHeight]="35"
                           [headerHeight]="35"
                           [footerHeight]="35"
                           [columns]="columns"
                           [scrollbarV]="true"
                           [columnMode]="'force'">
            </ngx-datatable>

            <ng-template #indexTemplate let-value="value">
                <strong>{{value}}</strong>
            </ng-template>

            <ng-template #bankIdTemplate let-row="row" let-value="row" let-i="index">
                <span>{{value.bankCode}}</span>
            </ng-template>
            <ng-template #applicationDateTemplate let-row="row" let-value="row" let-i="index">
                <span>{{value.applicationDate | date}}</span>
            </ng-template>
            <ng-template #kernelTypeTemplate let-row="row" let-value="row" let-i="index">
                <span>{{value.kernelType}}</span>
            </ng-template>
            <ng-template #applicationVersionTemplate let-row="row" let-value="row" let-i="index">
                <span>{{value.applicationVer}}</span>
            </ng-template>

            <ng-template #remarksTemplate let-row="row" let-value="row" let-i="index">
                <span>{{value.remarks}}</span>
            </ng-template>
            <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
                <div *ngIf="canManageUsers">
                    <a class="btn btn-link btn-xs" href="javascript:;" (click)="editApplication(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'application.management.Edit' | translate}}</a>
                    |
                    <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteApplication(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'application.management.Delete' | translate}}</a>
                </div>
            </ng-template>




            <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <mat-toolbar style=" background-color: rgb(128,0,0);color:white" class="pop">

                                <h4 style="text-align:center">Application</h4>
                                <button type="button" class="close col-md-offset-9" title="Close" (click)="editorModal.hide()" style="color:white;font-size:30px">
                                    <span aria-hidden="true" class="col-md-1">&times;</span>
                                </button>
                            </mat-toolbar>
                            <!--<h4 class="modal-title pull-left"><i class="fa fa-user-circle-o"></i> {{editingApplicationName ? ('application.management.EditApplication' | translate:editingApplicationName) : ('application.management.NewApplication' | translate)}}</h4>
                    <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>-->
                        </div>
                        <div class="modal-body">
                            <application-edit #applicationEditor [isGeneralEditor]="true"></application-edit>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>