﻿<div>
    <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="userInfoForm" #f="ngForm" novalidate
          (ngSubmit)="saveApplication()">


        <!--<div class="form-group">
        <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="bankId-{{uniqueId}}">{{'application.management.BankId' | translate}}</label>
        <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
            <p class="form-control-static">{{application.bankId}}</p>
        </div>
        <div *ngIf="isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
            <input autofocus type="text" attr.id="bankId-{{uniqueId}}" id="bankId" name="bankId" placeholder="Enter Main Item" class="form-control" [(ngModel)]="applicationEdit.bankId" #bankId="ngModel" required />

        </div>
    </div>-->


        <div class="form-group has-feedback">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="applicationDate-{{uniqueId}}">Version/Date</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{application.applicationDate}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <!--<input type="date" attr.id="applicationDate-{{uniqueId}}" id="applicationDate" name="applicationDate" placeholder="Enter Sub-Item"
            class="form-control" [(ngModel)]="applicationEdit.applicationDate" #applicationDate="ngModel" required />-->
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" attr.id="applicationDate-{{uniqueId}}" [max]="maxDate" name="applicationDate" placeholder="Enter Application Date"
                           [(ngModel)]="applicationEdit.applicationDate" #applicationDate="ngModel">
                    <mat-datepicker-toggle matSuffix [for]="picker">

                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>
            <label class="control-label col-md-2" for="bankName-{{uniqueId}}">Bank Code</label>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <mat-form-field class="col-sm-12">

                    <mat-select [(ngModel)]="applicationEdit.bankId" name="bankId" class="dropvalid" required>
                        <mat-option *ngFor="let bank of rows" [value]="bank.id" class="drop">
                            <strong *ngIf="isBankCode">  {{ bank.bankCode }} </strong>
                        </mat-option>
                    </mat-select>

                </mat-form-field>
            </div>

        </div>

        <div class="form-group has-feedback">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="kernelType-{{uniqueId}}">O.S/Kernel Verison</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{application.kernelType}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="text" attr.id="kernelType-{{uniqueId}}" id="description" name="description" placeholder="Enter Os/Kernel Type" class="form-control" [(ngModel)]="applicationEdit.kernelType" #kernelType="ngModel" required />

            </div>
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="applicationVersion-{{uniqueId}}">Application Version</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{application.applicationVersion}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="text" attr.id="applicationVersion-{{uniqueId}}" id="applicationVersion" name="applicationVersion" placeholder="Enter Application Version" class="form-control" [(ngModel)]="applicationEdit.applicationVer" #applicationVer="ngModel" required />

            </div>
        </div>
        <div class="form-group has-feedback">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="Remarks-{{uniqueId}}">Remarks</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{application.remarks}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="text" attr.id="Remarks-{{uniqueId}}" id="remarks" name="remarks" placeholder="Enter Remarks" class="form-control" [(ngModel)]="applicationEdit.remarks" #remarks="ngModel" required />

            </div>
         </div>

            <!--<div class="form-group has-feedback">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="filePDF-{{uniqueId}}">{{'application.management.FilePDF' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-5]="!isViewOnly">
                <p class="form-control-static">{{application.filePDF}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-5]="!isViewOnly">
                <input type="checkbox" attr.id="filePDF-{{uniqueId}}" name="filePDF" placeholder="Enter Has Serial No" class="form-control" [(ngModel)]="applicationEdit.filePDF" #filePDF="ngModel" />
            </div>
        </div>-->


            <div *ngIf="!isViewOnly" class="form-group">
                <div class="col-sm-7">
                    <div class="pull-right">
                        <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
                        <!--<button *ngIf="isEditMode " type="button" (click)="edit()" class="btn btn-default"><i class='fa fa-edit'></i> {{'users.editor.Edit' | translate}}</button>-->
                        <button *ngIf="isEditMode" type="button" (click)="close()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>

                        <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving" style="margin-left:15px">
                            <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
    </form>
</div>
