﻿
<div>
    <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="userInfoForm" #f="ngForm" novalidate
          (ngSubmit)="saveDeploy()">
        <div class="form-group" hidden>
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="deploymentId-{{uniqueId}}">{{'deploy.management.deploymentId' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-5]="isViewOnly" [class.col-md-6]="!isViewOnly">
                <p class="form-control-static">{{deploy.deploymentRequestId}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-5]="isViewOnly" [class.col-md-6]="!isViewOnly">
                <input autofocus type="text" attr.id="deploymentId-{{uniqueId}}" id="deploymentId" name="deploymentId" class="form-control" [(ngModel)]="deployEdit.deploymentRequestId" #deploymentId="ngModel" required />
            </div>
        </div>
        <div class="form-group has-feedback" hidden>
            <label class="control-label col-md-2" for="image-{{Image}}">{{'deploy.management.Image' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deploy.image}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="text" attr.id="image-{{uniqueId}}" name="image" placeholder="Image" class="form-control" [(ngModel)]="deployEdit.image" #image="ngModel" required />
            </div>
        </div>
        <div class="form-group has-feedback" hidden>
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="scanned-{{uniqueId}}">{{'deploy.management.scanned' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-5]="!isViewOnly">
                <p class="form-control-static">{{deploy.scanned}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-5]="!isViewOnly">
                <input type="text" attr.id="scanned-{{uniqueId}}" name="scanned" class="form-control" [(ngModel)]="deployEdit.scanned" #scanned="ngModel" required />
            </div>
        </div>
       

        <div class="form-group has-feedback">
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label"
                   for="statusForDeploy-{{uniqueId}}">Status</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deploy.statusForDeploy}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-8]="!isViewOnly">
                <textarea autofocus type="text" attr.id="statusForDeploy-{{uniqueId}}" id="statusForDeploy" name="statusForDeploy" placeholder="Enter Status"
                          class="form-control" [(ngModel)]="deployEdit.statusForDeploy" #statusForDeploy="ngModel" required></textarea>
            </div>
        </div>
        
        
        

        

        <div *ngIf="!isViewOnly" class="form-group">
            <div class="col-sm-7">
                <div class="pull-right">
                    <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
                    <!--<button *ngIf="isEditMode " type="button" (click)="edit()" class="btn btn-default"><i class='fa fa-edit'></i> {{'users.editor.Edit' | translate}}</button>-->
                    <button *ngIf="isEditMode" type="button" (click)="close()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>

                    <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving" style="margin-left:10px">
                        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
