<div style="margin-top:50px">
    <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="userInfoForm" #f="ngForm" novalidate
          (ngSubmit)="saveDeploy()">
        <div class="form-group" hidden>
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="deploymentId-{{uniqueId}}">{{'deploy.management.deploymentId' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-5]="isViewOnly" [class.col-md-6]="!isViewOnly">
                <p class="form-control-static">{{deploy.deploymentRequestId}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-5]="isViewOnly" [class.col-md-6]="!isViewOnly">
                <input autofocus type="text" attr.id="deploymentId-{{uniqueId}}" id="deploymentId" name="deploymentId" class="form-control" [(ngModel)]="deployEdit.deploymentRequestId" #deploymentId="ngModel" required />
            </div>
        </div>
        <div class="form-group has-feedback" hidden>
            <label class="control-label col-md-2" for="image-{{Image}}">{{'deploy.management.Image' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deploy.image}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="text" attr.id="image-{{uniqueId}}" name="image" placeholder="Image" class="form-control" [(ngModel)]="deployEdit.image" #image="ngModel" required />
            </div>
        </div>
        <div class="form-group has-feedback" hidden>
            <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="scanned-{{uniqueId}}">{{'deploy.management.scanned' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-5]="!isViewOnly">
                <p class="form-control-static">{{deploy.scanned}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-5]="!isViewOnly">
                <input type="text" attr.id="scanned-{{uniqueId}}" name="scanned" class="form-control" [(ngModel)]="deployEdit.scanned" #scanned="ngModel" required />
            </div>
        </div>
        <div class="form-group has-feedback" *ngIf="deployEdit.statusName=='Deployed'">
            <label class="control-label col-md-2" for="verification-{{uniqueId}}">{{'deploy.management.Verification' | translate}}</label>

            <div [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly" style="color:green">
                <select class="form-control" [(ngModel)]="deployEdit.verification" #verificationItem="ngModel" name="verification">
                    <option *ngFor="let v of verify" [ngValue]="v.text">{{v.text}}</option>
                </select>

            </div>

            <!--<div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
            <p class="form-control-static">{{deploy.createdDate}}</p>
        </div>-->
            <!--<label class="control-label col-md-2" for="item-{{uniqueId}}">Terminal Type</label>
            <div [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deploy.primaryItem}} &nbsp;&nbsp;{{deploy.secondaryItem}} &nbsp;&nbsp;{{deploy.tertiaryItem}}</p>
            </div>-->

        </div>
        <div class="form-group has-feedback" *ngIf="deployEdit.statusName=='ConfigurationVerified'">
            <label class="control-label col-md-2" for="deployDate-{{uniqueId}}">{{'deploy.management.deployDate' | translate}}</label>
            <!--<div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
            <p class="form-control-static">{{deploy.deployDate}}</p>
        </div>
        <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
            <input type="date" (max)="maxDate"  attr.id="deployDate-{{uniqueId}}" name="deployDate" placeholder="Enter Date" class="form-control" [(ngModel)]="deployEdit.deployDate" #deployDate="ngModel" required />

        </div>-->
            <mat-form-field *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input matInput [matDatepicker]="picker" [max]="maxDate"  [value]="maxDate" name="deployDate" placeholder="Enter Deploy Date" style="border-left-color:#F0FFFF"
                       [(ngModel)]="deployEdit.deployDate" #deployDate="ngModel">
                <mat-datepicker-toggle matSuffix [for]="picker">

                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div >
                <!--<label class="control-label col-md-2" for="item-{{uniqueId}}">Terminal Type</label>
                <div [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                    <p class="form-control-static">{{deploy.primaryItem}} &nbsp;&nbsp;{{deploy.secondaryItem}} &nbsp;&nbsp;{{deploy.tertiaryItem}}</p>
                </div>-->
            </div>

         

        </div>
        <div class="form-group has-feedback">

            <div>
                <label class="control-label col-md-2" for="connectivity-{{uniqueId}}">{{'deploy.management.Connectivity' | translate}}</label>
               

                <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">

                    <select class="form-control" [(ngModel)]="deployEdit.connectivity" #connectivity="ngModel" name="connectivity" required>
                        <!--<ng-container >-->
                        <option *ngIf="deploy.secondaryItem=='IWL' || deploy.tertiaryItem=='IWL'">GPRS</option>
                        <option *ngIf="deploy.secondaryItem=='EM' || deploy.tertiaryItem=='EM'">ETHERNET</option>
                        <option *ngIf="deploy.secondaryItem=='EM' || deploy.tertiaryItem=='EM'">PSTN</option>
                        <option *ngIf="deploy.secondaryItem=='EM' || deploy.tertiaryItem=='EM'">ETHERNET and PSTN</option>
                        <option *ngIf="deploy.secondaryItem=='EM' || deploy.tertiaryItem=='EM'">UNKNOWN</option>
                        <option *ngIf="deploy.secondaryItem=='GEM' || deploy.tertiaryItem=='GEM'">GPRS</option>
                        <option *ngIf="deploy.secondaryItem=='GEM' || deploy.tertiaryItem=='GEM'">PSTN</option>
                        <option *ngIf="deploy.secondaryItem=='GEM' || deploy.tertiaryItem=='GEM'">ETHERNET</option>
                        <option *ngIf="deploy.secondaryItem=='GEM' || deploy.tertiaryItem=='GEM'">GPRS and PSTN</option>
                        <option *ngIf="deploy.secondaryItem=='GEM' || deploy.tertiaryItem=='GEM'">GPRS and ETHERNET</option>
                        <option *ngIf="deploy.secondaryItem=='GEM' || deploy.tertiaryItem=='GEM'">PSTN and ETHERNET</option>
                        <option *ngIf="deploy.secondaryItem=='GEM' || deploy.tertiaryItem=='GEM'">GPRS, ETHERNET AND PSTN</option>
                        <option *ngIf="deploy.secondaryItem=='GEM' || deploy.tertiaryItem=='GEM'">UNKNOWN</option>


                        <!--</ng-container>-->
                    </select>
                </div>
            </div>
            <label class="control-label col-md-2" for="merchantLocation-{{uniqueId}}">{{'deploy.management.MerchantLocation' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deploy.merchantLocation}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="text" attr.id="merchantLocation-{{uniqueId}}" name="merchantLocation" placeholder="Enter Location" class="form-control" [(ngModel)]="deployEdit.merchantLocation" #merchantLocation="ngModel" required />
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="receivedBy-{{uniqueId}}">{{'deploy.management.ReceivedBy' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deploy.receivedBy}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="text" attr.id="receivedBy-{{uniqueId}}" id="receivedBy" name="receivedBy" placeholder="Received by" class="form-control" [(ngModel)]="deployEdit.receivedBy" #receivedBy="ngModel" required />
            </div>
            
            <!--</div>
    <div class="form-group has-feedback">-->
            <label class="control-label col-md-2" for="longitude-{{uniqueId}}">Contact Number</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deploy.longitude}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="number" attr.id="longitude-{{uniqueId}}" name="longitude" placeholder="Enter Contact Number" class="form-control" [(ngModel)]="deployEdit.longitude" #latitude="ngModel" required />
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="latitude-{{uniqueId}}">Deployed By</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deploy.latitude}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input type="text" attr.id="latitude-{{uniqueId}}" name="latitude" placeholder="Enter Deployed By" class="form-control" [(ngModel)]="deployEdit.latitude" #latitude="ngModel" required />
            </div>
            <label class="control-label col-md-2" for="remarks-{{uniqueId}}">{{'deploy.management.Remarks' | translate}}</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <p class="form-control-static">{{deploy.remarks}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <textarea type="text" attr.id="remarks-{{uniqueId}}" name="remarks" placeholder="Enter Remarks" class="form-control" [(ngModel)]="deployEdit.remarks" #remarks="ngModel" required></textarea>
            </div>

        </div>

        <div class="form-group" style="margin-top:30px" *ngIf="deployEdit.statusName=='ConfigurationVerified'">

            <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
                <p class="form-control-static">{{deploy.dispatch}}</p>
            </div>
            <div *ngIf="isEditMode" [class.col-md-4]="isViewOnly" [class.col-md-3]="!isViewOnly" class="col-md-offset-2">

                <mat-checkbox attr.id="v-{{uniqueId}}" name="dispatch" [(ngModel)]="deployEdit.dispatch" #dispatchTransactionItem="ngModel">Reject Deploy(Only If Necessary)</mat-checkbox>
            </div>
            

        </div>

        <div *ngIf="!isViewOnly" class="form-group">
            <div class="col-sm-7">
                <div class="pull-right">
                    <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
                    <!--<button *ngIf="isEditMode " type="button" (click)="edit()" class="btn btn-default"><i class='fa fa-edit'></i> {{'users.editor.Edit' | translate}}</button>-->
                    <button *ngIf="isEditMode" type="button" (click)="close()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>

                    <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving" style="margin-left:10px">
                        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
