<div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12">
        <div class="row control-box">
            <h4 style="text-align:center">{{'mainMenu.Deploy' | translate}}</h4>
            <hr class="separator-hr" />
            <div class="col-sm-8">
                <div class="form-group search-box">
                    <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'Deploy.management.Search' | translate}}">></search-box>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="navbar action-box">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="toolbaritem">
                            <a href="javascript:;" (click)="newDeploy(row)">
                                <i class="fa fa-plus-circle"></i> {{'deploy.management.NewDeploy' | translate}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <ngx-datatable class="material colored-header sm table table-striped table-hover"
                       [loadingIndicator]="loadingIndicator"
                       [rows]="rows"
                       [rowHeight]="35"
                       [headerHeight]="35"
                       [footerHeight]="35"
                       [columns]="columns"
                       [scrollbarV]="true"
                       [columnMode]="'force'">
        </ngx-datatable>

        <ng-template #indexTemplate let-value="value">
            <strong>{{value}}</strong>
        </ng-template>

        <ng-template #deployDateTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.deployDate}}</span>
        </ng-template>
        <ng-template #receivedByTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.receivedBy}}</span>
        </ng-template>
        <ng-template #connectivityTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.connectivity}}</span>
        </ng-template>
        <ng-template #merchantLocationTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.merchantLocation}}</span>
        </ng-template>
        <ng-template #latitudeTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.latitude}}</span>
        </ng-template>
        <ng-template #imageTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.image}}</span>
        </ng-template>
        <ng-template #remarksTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.remarks}}</span>
        </ng-template>

        <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
            <div *ngIf="canManageUsers">
                <a class="btn btn-link btn-xs" href="javascript:;" (click)="editDeploy(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'deploy.management.Edit' | translate}}</a>
                |
                <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteDeploy(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'deploy.management.Delete' | translate}}</a>
            </div>
        </ng-template>




        <div class="modal fade" bsModal #deployModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left"><i class="fa fa-user-circle-o"></i> {{'deploy.management.NewDeploy' | translate}}</h4>
                        <button type="button" class="close pull-right" title="Close" (click)="deployModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <deploy-edit #deployEditor [isGeneralEditor]="true"></deploy-edit>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    </div>
   