﻿<div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>
    <div id="content" class="col-sm-12">
        <div class="row control-box">
            <h4 style="text-align:center">{{'mainMenu.Configuration' | translate}}</h4>
            <hr class="separator-hr" />
            <div class="col-sm-8">
                <div class="form-group search-box">
                    <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'configuration.management.Search' | translate}}">></search-box>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="navbar action-box">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="toolbaritem">
                            <a href="javascript:;" (click)="newConfiguration(row)">
                                <i class="fa fa-plus-circle"></i> {{'configuration.management.NewConfiguration' | translate}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <ngx-datatable class="material colored-header sm table table-striped table-hover"
                       [loadingIndicator]="loadingIndicator"
                       [rows]="rows"
                       [rowHeight]="35"
                       [headerHeight]="35"
                       [footerHeight]="35"
                       [columns]="columns"
                       [scrollbarV]="true"
                       [columnMode]="'force'">
        </ngx-datatable>

        <ng-template #indexTemplate let-value="value">
            <strong>{{value}}</strong>
        </ng-template>

        <ng-template #deploymentIdTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.deploymentRequestId}}</span>
        </ng-template>
        <ng-template #checkerIdTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.applicationVersionId}}</span>
        </ng-template>
        <ng-template #serialNumberIdTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.serialNumberId}}</span>
        </ng-template>
        <ng-template #applicationDateTemplate let-row="row" let-value="row" let-i="index">
            <span>{{value.verification}}</span>
        </ng-template>
        <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
            <div *ngIf="canManageUsers">
                <a class="btn btn-link btn-xs" href="javascript:;" (click)="editConfiguration(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'configuration.management.Edit' | translate}}</a>
                |
                <a class="btn btn-link btn-xs" href="javascript:;" (click)="deleteConfiguration(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'configuration.management.Delete' | translate}}</a>
            </div>
        </ng-template>




        <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left"><i class="fa fa-user-circle-o"></i> {{editingConfigurationName ? ('configuration.management.EditConfiguration' | translate:editingConfigurationName) : ('configuration.management.NewConfiguration' | translate)}}</h4>
                        <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <configuration-edit #configurationEditor [isGeneralEditor]="true"></configuration-edit>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
