﻿<div>
    <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="userInfoForm" #f="ngForm" novalidate
          (ngSubmit)=" saveConfiguration()">

        <div *ngIf="configurationEdit.statusName =='ConfigurationVerified' || configurationEdit.statusName =='Deployed'">
            <div class="form-group has-feedback">
                <label class="control-label">{{'deployment.management.ApplicationVersion' | translate}}</label>
                <label class="control-label">: {{configurationEdit.applicationVersionId}}</label>
            </div>
            <div class="form-group has-feedback ">
                <label class="control-label">{{'configuration.management.serialNumberId' | translate}}</label>
                <label class="control-label">: {{configurationEdit.serialKey}}</label>
            </div>

        </div>

        <div *ngIf="configurationEdit.statusName=='RequestVerified'||configurationEdit.statusName=='Configured' ">
            <div class="form-group has-feedback" *ngIf="configurationEdit.statusName=='Configured'">
                <label class="control-label col-md-2" for="verification-{{uniqueId}}">{{'configuration.management.Verification' | translate}}</label>

                <div [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly" style="color:green">
                   
                    <mat-form-field>

                        <mat-select placeholder="Pick Verification" [(ngModel)]="configurationEdit.verification" name="verification"  [formControl]="verificationControl" class="dropvalid" required>
                            <mat-option *ngFor="let v of verify" [value]="v.text" class="drop">
                                <span>  {{v.text}} </span>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="verificationControl.hasError('required')">Please check Verification</mat-error>
                    </mat-form-field>

                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-md-2" for="applicationId-{{uniqueId}}">{{'deployment.management.ApplicationVersion' | translate}}</label>

                <mat-form-field *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-6]="!isViewOnly">

                    <mat-select placeholder="Pick Application Version"  [(ngModel)]="configurationEdit.applicationVersionId"  name="applicationId" [formControl]="applicationControl" class="dropvalid" required>
                        <mat-option *ngFor="let app of rows1" [value]="app.id" class="drop">
                            <span>{{app.bankCode}} &nbsp;&nbsp;{{app.applicationVer}}&nbsp;&nbsp;  {{ app.applicationDate | date }} &nbsp;&nbsp; {{app.kernelType}}  </span>
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="applicationControl.hasError('required')">Please check Application Version</mat-error>
                </mat-form-field>

               



            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-md-2"  for="serialKey-{{uniqueId}}">Current S.No.</label>
                <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                    <p class="form-control-static">{{configuration.serialKey}}</p>
                </div>
                <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly" style="display:none;">
                    <input autofocus type="text" id="serialNumberId" name="serialNumberId" placeholder="Enter Serial Number"
                           class="form-control" [(ngModel)]="configurationEdit.serialNumberId" #serialNumberId="ngModel" />
                </div>
                <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                    <input disabled  autofocus type="text" attr.id="serialKey-{{uniqueId}}" id="serialKey" name="serialKey" placeholder="Enter Serial Number"
                           class="form-control" [(ngModel)]="configurationEdit.serialKey" #serialKey="ngModel" required />
                </div>
            </div>
            <div *ngIf="configurationEdit.requestName== 'Reconfigure'">

                <label class="control-label col-md-4 col-md-offset-2" style="padding-top:-0px">
                    Replace Previous S.No
                </label>
                <mat-radio-group>
                    <mat-radio-button name="yes" value="yes" (click)="setradio('yes')">Yes</mat-radio-button>&nbsp;&nbsp;
                    <mat-radio-button name="no" value="no" (click)="setradio('no')" [checked]='true'>No</mat-radio-button>
                </mat-radio-group>
                <br />
                <br />
                <label *ngIf="isSelected('yes')" class="control-label col-md-4 col-md-offset-2" style="padding-top:-0px">
                    Did you receive Previous S.No?
                </label>

                <mat-radio-group *ngIf="isEditMode && isSelected('yes')" [(ngModel)]="configurationEdit.previousSerial" name="previousSerial">
                    <mat-radio-button name="received" value="received" (click)="setReceived('received')">Received</mat-radio-button>&nbsp;&nbsp;
                    <mat-radio-button name="notreceived" value="notreceived" (click)="setNotReceived('notreceived')">Not Received</mat-radio-button>
                </mat-radio-group>
                <br />
                <br />
                <div class="col-md-12">
                    <label *ngIf="isSelected('yes') && isSelectedNotReceived('notreceived') && statusFlag" class="control-label col-md-4 " style="padding-top:-0px">
                        Status
                    </label>
                    <div class="col-md-6">
                        <textarea *ngIf="isSelected('yes') && isSelectedNotReceived('notreceived') && statusFlag"  class="form-control col-md-6" rows="4" cols="50" [(ngModel)]="configurationEdit.status" name="status">

               </textarea>
                    </div>
                </div>
                <label *ngIf="isSelected('yes') && isSelectedReceived('received')" class="control-label col-md-6 " style="padding-top:-0px">
                    Do you want Previous S.No to Maintenance?
                </label>

                <mat-radio-group *ngIf="isSelected('yes') && isSelectedReceived('received')" >
                    <mat-radio-button name="yes" value="yes" (click)="serialConfiguration(this.configurationEdit.serialNumberId)">Yes</mat-radio-button>&nbsp;&nbsp;
                    <mat-radio-button name="no" value="no" (click)="setSerialNo('push')">No</mat-radio-button>
                </mat-radio-group>
                <br />
                <br />
                <!--<mat-chip-list class="pull-right" *ngIf="isSelected('yes') && isSelectedReceived('received') || stockFlag">
        <mat-chip style="background-color:red;text-decoration:none" selected="true" (click)="setSerialNo('push')">
            <a href="javascript:;" (click)="serialConfiguration(this.configurationEdit.serialNumberId)" style="color:white;text-decoration: none !important">
                <span>Push Previous S.No. to Maintenance</span>
            </a>
        </mat-chip>
    </mat-chip-list>
    <mat-chip-list class="pull-left" *ngIf="isSelected('yes') && isSelectedReceived('received')">
        <mat-chip style="background-color:red;text-decoration:none" selected="true" (click)="setSerialNo('push')">
            <a href="javascript:;" (click)="serialStock(this.configurationEdit.serialNumberId)" style="color:white;text-decoration: none !important">
                <span>Push Previous S.No. to Stock</span>
            </a>
        </mat-chip>
    </mat-chip-list>-->


            </div>
            <div *ngIf="!isViewOnly" class="form-group">
                <div class="col-sm-7" style="margin-top:10px">
                    <div class="pull-right">
                        <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
                        <button *ngIf="isEditMode" type="button" (click)="close()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>

                        <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving" style="margin-left:10px">
                            <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
                        </button>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div><div>

    <div class="row control-box" *ngIf="configurationEdit.requestName== 'New' ">
        <div class="col-sm-8">
            <div class="form-group search-box">
                <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'configuration.management.Search' | translate}}">></search-box>
            </div>
        </div>
    </div>

    <ngx-datatable class="material colored-header sm table table-striped table-hover" *ngIf="configurationEdit.requestName== 'New'"
                   [loadingIndicator]="loadingIndicator"
                   [rows]="rowsSerial"
                   [rowHeight]="35"
                   [headerHeight]="35"
                   [footerHeight]="35"
                   [columns]="columns"
                   [scrollbarV]="true"
                   [scrollbarH]="true"
                   [columnMode]="'force'">
    </ngx-datatable>
    <ng-template #indexTemplate let-value="value">
        <strong>{{value}}</strong>
    </ng-template>
    <ng-template #serialKeyTemplate let-row="row" let-value="row" let-i="index">
        <span *ngIf="value.bankName!=null">{{value.serialKey}} &nbsp; &nbsp; ({{value.bankName}})</span>
        <span *ngIf="value.bankName==null">{{value.serialKey}}</span>
    </ng-template>
    <ng-template #actionsTemplate let-row="row" let-value="row" let-i="index">
        <div *ngIf="canManageUsers">
            <a class="btn btn-link btn-xs" href="javascript:;" (click)="configurationEdit.serialNumberId = row.id;configurationEdit.serialKey = row.serialKey"><i class="fa fa-spin" aria-hidden="true"></i>{{'configuration.management.Select' | translate}}</a>
        </div>
    </ng-template>
    <br /><br />




          <div class="row control-box" *ngIf="isSelected('yes') && isSelectedReceived('received') && isSelectedserialNo('push') ||(maintenanceFlag ||  statusFlag)">
              <!--<div class="col-sm-3">
        <label>Select New Serial Number</label>
    </div>
    <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
        <input autofocus *ngIf="showSerialNo == false" type="text" attr.id="serialKey-{{uniqueId}}" id="serialKey" name="serialKey" placeholder="Enter Serial Number"
               class="form-control" [(ngModel)]="configurationEdit.serialKey" #serialKey="ngModel" required />
    </div>-->
              <br /> <br />
              <div class="col-sm-5 col-sm-offset-3">
                  <label>Select New Serial Number</label>
              </div>
              <div class="col-sm-8">

                  <div class="form-group search-box">
                      <search-box (searchChange)="onSearchChanged($event)" placeholder="Select Serial Number">></search-box>
                  </div>
              </div>
          </div>

    <ngx-datatable class="material colored-header sm table table-striped table-hover" *ngIf="isSelected('yes') && isSelectedReceived('received') && isSelectedserialNo('push') ||(maintenanceFlag ||  statusFlag)"
                   [loadingIndicator]="loadingIndicator"
                   [rows]="rowsSerial"
                   [rowHeight]="35"
                   [headerHeight]="35"
                   [footerHeight]="35"
                   [columns]="columns"
                   [scrollbarV]="true"
                   [scrollbarH]="true"
                   [columnMode]="'force'">
    </ngx-datatable>
    <ng-template #indexTemplate let-value="value">
        <strong>{{value}}</strong>
    </ng-template>
    <ng-template #serialKeyTemplate let-row="row" let-value="row" let-i="index">
        <span *ngIf="value.bankName!=null">{{value.serialKey}} &nbsp; &nbsp; ({{value.bankName}})</span>
        <span *ngIf="value.bankName==null">{{value.serialKey}}</span>
    </ng-template>
    <ng-template #actionsTemplate let-row="row" let-value="row" let-i="index">
        <div *ngIf="canManageUsers">
            <a class="btn btn-link btn-xs" href="javascript:;" (click)="configurationEdit.serialNumberId = row.id;configurationEdit.serialKey = row.serialKey"><i class="fa fa-spin" aria-hidden="true"></i>{{'configuration.management.Select' | translate}}</a>
        </div>
    </ng-template>
    <div class="modal fade" bsModal #configStatusModal="bs-modal" (onHidden)="onConfigStatusModalHidden()" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <mat-toolbar style="background-color: rgb(128,0,0) !important;color:white" class="pop">
                        <h4 style="text-align:center"> Add Status</h4>
                        <button type="button" class="close col-md-offset-9" title="Close" (click)="configStatusModal.hide()" style="color:white;font-size:30px">
                            <span aria-hidden="true" class="col-md-1">&times;</span>
                        </button>
                    </mat-toolbar>

                </div>
                <div class="modal-body">
                    <add-configuration-status #configStatusEditor [isGeneralEditor]="true"></add-configuration-status>
                </div>
            </div>
        </div>
    </div>

</div>
    </form>
</div>

