﻿<div>
    <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="userInfoForm" #f="ngForm" novalidate
          (ngSubmit)=" savePosStock()">
        <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="bankId-{{uniqueId}}">Bank Name</label>

            <div [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly" style="color:green">

                <mat-form-field class="col-sm-12">

                    <mat-select placeholder="Pick Bank" [(ngModel)]="posStockEdit.bankId" name="bankId" [formControl]="bankControl" class="dropvalid" required>
                        <mat-option *ngFor="let bank of rows" [value]="bank.id" class="drop">
                            <span>  {{ bank.bankName }} </span>
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="bankControl.hasError('required')">Please choose Bank</mat-error>
                </mat-form-field>

            </div>
            <div *ngIf="isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly" style="display:none;">
                <input autofocus type="text" id="serialNumberId" name="serialNumberId" placeholder="Enter Serial Number"
                       class="form-control" [(ngModel)]="posStockEdit.serialNumberId" #serialNumberId="ngModel" />
            </div>
            <label class="control-label col-md-2" for="serialKey-{{uniqueId}}">Serial Number</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input disabled autofocus type="text" attr.id="serialKey-{{uniqueId}}" id="serialKey" name="serialKey" placeholder="Enter Serial Number"
                       class="form-control" [(ngModel)]="posStockEdit.serialKey" #serialKey="ngModel" required />
            </div>

        </div>
        <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="remarks-{{uniqueId}}">Remarks</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <textarea  autofocus type="text" attr.id="remarks-{{uniqueId}}" id="remarks" name="remarks" placeholder="Enter Remarks"
                    class="form-control" [(ngModel)]="posStockEdit.remarks" #remarks="ngModel" required ></textarea>
            </div>
            <label class="control-label col-md-2" for="location-{{uniqueId}}">Location</label>
            <div *ngIf="!isEditMode" [class.col-md-3]="isViewOnly" [class.col-md-4]="!isViewOnly">
                <input  autofocus type="text" attr.id="location-{{uniqueId}}" id="location" name="location" placeholder="Enter Location"
                       class="form-control" [(ngModel)]="posStockEdit.location" #location="ngModel" required />
            </div>
        </div>
               <div class="form-group">
                <div class="col-sm-7" style="margin-top:10px">
                    <div class="pull-right">
                      
                        <button *ngIf="!isEditMode" type="button" (click)="close()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>

                        <button *ngIf="!isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving" style="margin-left:10px">
                            <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
                        </button>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

                <div class="row control-box">
                    <div class="col-sm-8">
                        <div class="form-group search-box">
                            <search-box (searchChange)="onSearchChanged($event)" placeholder="Search for Serial Number">></search-box>
                        </div>
                    </div>
                </div>
                <ngx-datatable class="material colored-header sm table table-striped table-hover"
                               [loadingIndicator]="loadingIndicator"
                               [rows]="rowsSerial"
                               [rowHeight]="35"
                               [headerHeight]="35"
                               [footerHeight]="35"
                               [columns]="columns"
                               [scrollbarV]="true"
                               [scrollbarH]="true"
                               [columnMode]="'force'">
                </ngx-datatable>
                <ng-template #indexTemplate let-value="value">
                    <strong>{{value}}</strong>
                </ng-template>
                <ng-template #serialKeyTemplate let-row="row" let-value="row" let-i="index">
                    <span>{{value.serialKey}}</span>
                </ng-template>
                <ng-template #actionsTemplate let-row="row" let-value="row" let-i="index">
                    <div *ngIf="canManageUsers">
                        <a class="btn btn-link btn-xs" href="javascript:;" (click)="posStockEdit.serialNumberId = row.id;posStockEdit.serialKey = row.serialKey;"><i class="fa fa-spin" aria-hidden="true"></i>Select</a>
                    </div>
                </ng-template>

    </form>
</div>

