﻿
.user-role {
    font-size: 0.8em !important;
    margin-right: 1px;
}

.control-box {
    margin-bottom: 5px;
}

.search-box {
    margin: 0;
}

.action-box {
    margin: 0 50px 0 0;
    min-height: 0;
}

.nohover a:hover {
    background-color: white;
}

.action-box .toolbaritem a {
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 100px;
}


.user-disabled {
    color: #777;
    font-style: italic;
}


.locked-out {
    background-color: orangered;
    color: whitesmoke;
    width: 100%;
    display: inline-block;
    padding-left: 5px;
}


@media (max-width: 768px) {
    .action-box {
        margin: 0 14px;
    }
}

#content {
    padding: 30px;
    min-height: 100vh;
    transition: all 0.3s;
}

.dropvalid.ng-invalid:not(form) {
    border-left: 5px solid white;
}

.dropvalid.ng-valid {
    border-left: 5px solid white;
}
