﻿

<div class="row control-box">
    <h3 style="text-align:center;font-style:italic">Previous Roll Distribution</h3>

    <div class="col-sm-8">
        <div class="form-group search-box">
            <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'otherstock.management.Search' | translate}}">></search-box>
        </div>
    </div>

</div>

<ag-grid-angular style="width: 850px; height: 500px;" 
                 #agGrid
                 id="myGrid"
                 class="ag-theme-balham"
                 [enableSorting]="true"
                 [enableFilter]="true"
                 [rowData]="rows"
                 [pagination]="true"
                 rowSelection="multiple"
                 [columnDefs]="columnDefs"
                
                 (rowClicked)="onRowClicked($event)">
</ag-grid-angular>


