    

<div class="container" style="display:flex;align-items: stretch;">
    <side-bar></side-bar>


    <div id="content" class="col-sm-12">
        <header class="pageHeader">
            <h3><i class="fa fa-tachometer fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.Dashboard' | translate}}</h3>
        </header>
        <!--<ag-grid-angular style=" height: 500px;"
                         #agGrid
                         id="myGrid"
                         class="ag-theme-balham"
                         [enableSorting]="true"
                         [enableFilter]="true"
                         [rowData]="rows"
                         [pagination]="true"            
                         rowSelection="multiple"
                         [columnDefs]="columnDefs">
        </ag-grid-angular>-->

        <div [@fadeInOut]>
            <div class="">
                <div *ngIf="!configurations.showDashboardStatistics && !configurations.showDashboardNotifications && !configurations.showDashboardTodo && !configurations.showDashboardBanner" class="well well-lg">
                    <h4 class="text-muted text-center">
                        {{'home.NoWidgets1' | translate}} <a routerLink="/settings" fragment="preferences"><i class="fa fa-sliders"></i> {{'settings.tab.Preferences' | translate}}</a>
                        {{'home.NoWidgets2' | translate}}
                    </h4>
                </div>

                <!---Graph to Display Total Deployed POS for various Banks--->
                <div *ngIf="configurations.showDashboardStatistics" class="row bottom-space well well-sm">
                    <h4 class="text-muted inline-block">Total Pos Deploy</h4>
                    <button type="button" class="close pull-right statistics-close-btn" aria-label="Close" title="Close" (click)="configurations.showDashboardStatistics = false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="clearfix"></div>
                    <statistics-demo></statistics-demo>
                </div>

                <!---Graph to Display Total POS in Stock--->
                <div *ngIf="configurations.showDashboardStocks" class="row bottom-space well well-sm">
                    <h4 class="text-muted inline-block">Total Pos In Stock</h4>
                    <button type="button" class="close pull-right statistics-close-btn" aria-label="Close" title="Close" (click)="configurations.showDashboardStocks = false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="clearfix"></div>
                    <stock-demo></stock-demo>
                </div>

                <!---Graph to Display  POS Status --->
                <div class="row bottom-space well well-sm">
                    <h4 class="text-muted inline-block">POS Status</h4>
                    <button type="button" class="close pull-right statistics-close-btn" aria-label="Close" title="Close" (click)="configurations.showDashboardStocks = false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="clearfix"></div>
                    <pos-status></pos-status>
                </div>

                <!--<div *ngIf="configurations.showDashboardNotifications" class="row bottom-space">
        <button type="button" class="close pull-right todo-close-btn" aria-label="Close" title="Close" (click)="configurations.showDashboardNotifications = false">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="clearfix"></div>
        <notifications-viewer></notifications-viewer>
    </div>-->
                <!--<div *ngIf="configurations.showDashboardTodo" class="row bottom-space">
        <button type="button" class="close pull-right todo-close-btn" aria-label="Close" title="Close" (click)="configurations.showDashboardTodo = false">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="clearfix"></div>
        <todo-demo></todo-demo>
    </div>-->
                <!--<div *ngIf="configurations.showDashboardBanner" class="row no-bottom-space">
        <button type="button" class="close pull-right banner-close-btn" aria-label="Close" title="Close" (click)="configurations.showDashboardBanner = false">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="clearfix"></div>
        <banner-demo></banner-demo>
    </div>-->
            </div>
        </div>
    </div>
</div>
