﻿
.bottom-space {
    margin-bottom: 40px;
}

.no-bottom-space {
    margin-bottom: 0;
}

.statistics-close-btn {
}

.todo-close-btn {
    margin: 0 10px -25px 0;
    position: relative;
    z-index: 1;
}

.banner-close-btn {
    margin: 0 10px -25px 0;
    position: relative;
    z-index: 1;
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}
#content {
    padding: 30px;
    min-height: 100vh;
    transition: all 0.3s;
}
